<section class="whats-new-section">
  <div class="container">
    <h2 class="section-title">THE ODBUS ADVANTAGE</h2>

    <div class="slider-wrapper">
      <!-- LEFT -->
      <button class="slide-btn prev-btn" (click)="moveSlider(-1)">
        <i class="fa fa-angle-left"></i>
      </button>

      <!-- Cards Row -->
      <div class="cards-scroll" id="cardsScroll">
        <!-- Card 1 -->
        <div class="news-card pink">
          <div class="card-left">
            <h3>Instant Booking</h3>
            <p>Book in seconds. Just 3 steps. Fast. Smooth. Hassle-free.</p>
            <a [routerLink]="['/advantage', 'instant-booking']">Know More →</a>
          </div>
          <div class="card-right">
            <img src="assets/img/Instant_booking.png" />
          </div>
        </div>

        <!-- Card 2 -->
        <div class="news-card red">
          <div class="card-left">
            <h3>Assured Seats</h3>
            <p>Seats you can भरोसा on 99.99% seat confirmation</p>
            <a [routerLink]="['/advantage', 'assured-seats']">Know More →</a>
          </div>
          <div class="card-right">
            <img src="assets/img/assured.png" />
          </div>
        </div>

        <!-- Card 3 -->
        <div class="news-card blue">
          <div class="card-left">
            <h3>Instant Trip Details</h3>
            <p>No waiting. No uncertainty. Get ticket details instantly.</p>
            <a [routerLink]="['/advantage', 'instant-trip-details']">Know More →</a>
          </div>
          <div class="card-right">
            <img src="assets/img/trip_details.png" />
          </div>
        </div>

        <!-- Card 4 -->
        <div class="news-card cream">
          <div class="card-left">
            <h3>24×7 Support</h3>
            <p>Always on. Always ready Call us anytime. We're here for you.</p>
            <a [routerLink]="['/advantage', '247-support']">Know More →</a>
          </div>
          <div class="card-right">
            <img src="assets/img/support_247.png" />
          </div>
        </div>

        <!-- Card 5 -->
        <div class="news-card yellow">
          <div class="card-left">
            <h3>Fast Refunds</h3>
            <p>
              Refunds initiated instantly Credited in hours to days <br />
              Quick. Transparent. Reliable.
            </p>
            <a [routerLink]="['/advantage', 'fast-refunds']">Know More →</a>
          </div>
          <div class="card-right">
            <img src="assets/img/wallet.png" loading="lazy" alt="wallet" />
          </div>
        </div>

        <!-- Card 6 -->
        <div class="news-card last">
          <div class="card-left">
            <h3>Odisha's Largest Network</h3>
            <p>
              Unmatched routes & coverage Maximum buses across Odisha Travel
              anywhere with ease.
            </p>
            <a [routerLink]="['/advantage', 'odishas-largest-network']">Know More →</a>
          </div>
          <div class="card-right">
            <img src="assets/img/rout_network.png" />
          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <button class="slide-btn next-btn" (click)="moveSlider(1)">
        <i class="fa fa-angle-right"></i>
      </button>
    </div>
  </div>
</section>
