<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<ng-container *ngIf="!isMobile">
  <section class="faq-sec">
    <span class="line-span"
      ><div class="container"><h2>Frequently Asked Questions</h2></div></span
    >
    <div class="container">
      <div class="main-tnc">
        <div class="row">
          <div class="col-md-12">
            <ngb-accordion
              #acc="ngbAccordion"
              [closeOthers]="true"
              activeIds="panel0"
            >
              <ngb-panel
                *ngFor="let category of faqs; let i = index"
                [id]="'panel' + i"
              >
                <ng-template ngbPanelTitle>
                  {{ category.category_name }}
                </ng-template>

                <ng-template ngbPanelContent>
                  <div class="ml30">
                    <div *ngFor="let faq of category.faqs">
                      <h3 class="faq-header">
                        {{ faq.title }}
                      </h3>

                      <p class="faq-para" [innerHTML]="faq.content"></p>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="isMobile && !MenuActive">
  <div class="mobile-mybooking-top">
    <div class="row">
      <div class="col-1 pr-0 pl-2 mob-arrow-left">
        <a routerLink="/">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-7 pl-2 pr-2 mob-list-center">
        <h5>Support</h5>
      </div>
      <div class="col-4 pl-2 pr-2">
        <div class="mobile-logo">
          <img src="assets/img/mob-img/logo.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-support-middle">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Need some help?</h2>
        <h3>Here is how we can support you?</h3>
        <a href="/contact-us"><img src="assets/img/raise-ticket.png" /></a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 text-left">
        <h4>Frequently Asked Questions</h4>

        <div class="row">
          <div class="col-md-12">
            <ngb-accordion #acc="ngbAccordion" activeIds="panel0">
              <ngb-panel
                *ngFor="let category of faqs; let i = index"
                [id]="'panel' + i"
              >
                <!-- Category Name -->
                <ng-template ngbPanelTitle>
                  {{ category.category_name }}
                </ng-template>

                <!-- FAQs -->
                <ng-template ngbPanelContent>
                  <div class="ml30">
                    <div *ngFor="let faq of category.faqs">
                      <h3 class="faq-header">
                        {{ faq.title }}
                      </h3>

                      <p class="faq-para" [innerHTML]="faq.content"></p>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="MenuActive">
  <div class="mobile-myaccount-top">
    <div class="row">
      <div class="col-5">
        <div class="mobile-logo">
          <img src="assets/img/mob-img/logo.png" />
        </div>
      </div>
      <div class="col-7 mob-logintx">
        <a routerLink="/login" *ngIf="!session.isLoggedIn()">
          Login / Signup
        </a>
        <a routerLink="/dashboard" *ngIf="session.isLoggedIn()"> Dashboard </a>
      </div>
    </div>
  </div>

  <div class="mobile-myaccount-middle">
    <ul class="mobile-menu">
      <li>
        <a routerLink="/manage-booking"
          ><i class="far fa-window-restore"></i> Manage Booking</a
        >
      </li>
      <li>
        <a routerLink="/about-us"
          ><i class="fas fa-info-circle"></i> About Us</a
        >
      </li>
      <li>
        <a routerLink="/contact-us"
          ><i class="fas fa-envelope"></i> Contact Us</a
        >
      </li>
      <li>
        <a routerLink="/offers"><i class="fas fa-gifts"></i> Offers</a>
      </li>
      <li>
        <a routerLink="/operators"><i class="fas fa-bus"></i> Operators</a>
      </li>
      <li>
        <a routerLink="/routes"><i class="fas fa-map-marker-alt"></i> Routes</a>
      </li>
      <li>
        <a routerLink="/testimonials"
          ><i class="fa fa-star"></i> Testimonials</a
        >
      </li>
      <li>
        <a routerLink="/terms-conditions"
          ><i class="fas fa-file-image"></i> Terms & Conditions</a
        >
      </li>
      <li>
        <a routerLink="/privacy-policy"
          ><i class="far fa-file-powerpoint"></i> Privacy Policy</a
        >
      </li>
      <li *ngIf="session.isLoggedIn()">
        <a routerLink="/my-reviews"><i class="fas fa-comments"></i>My Review</a>
      </li>
      <li *ngIf="session.isLoggedIn()">
        <a (click)="signOut()"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>
    </ul>
  </div>
</ng-container>

<ng-container *ngIf="isMobile">
  <app-footer-menu></app-footer-menu>
</ng-container>
