<ng-template #Desktop>
  <style>
    section.top-operators div a {
      font-size: 13.4px;
      text-transform: uppercase;
    }

    section.top-operators div a,
    section.top-routs div a {
      color: #323232;
      font-size: 16px;
      margin: 10px 0;
      line-height: 19px;
      display: inline-block;
      font-weight: 500;
      text-transform: capitalize;
    }
  </style>
  <app-route-links *ngIf="showRouteLinks"></app-route-links>
  <section class="imp_links">
    <div class="container">

      <div class="imp_links_wrapper">

        <h4>Important Links</h4>

        <div class="imp_links_list">

          <a routerLink="/operators">Top Operators</a>
          <a routerLink="/routes">Top Routes</a>
          <a routerLink="/offers">Offers</a>
          <a routerLink="/contact-us">Contact Us</a>
          <a routerLink="/about-us">About Us</a>
          <a routerLink="/privacy-policy">Privacy Policy</a>
          <a routerLink="/terms-conditions">Terms & Conditions</a>
          <!-- <a routerLink="/careers">Careers</a> -->
          <a routerLink="/blog">Blogs</a>

        </div>

      </div>

    </div>
  </section>

  <section class="footer">
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="footer-bottom-left">
              <ul>
                <li>
                  <a href="{{ mastersocial_info.facebook_link }}" target="_blank"><img
                      src="assets/img/icon-facebook.svg" width="28" height="28" loading="lazy" alt="facebook" />
                  </a>
                </li>
                <li>
                  <a href="{{ mastersocial_info.twitter_link }}" target="_blank"><img
                      src="assets/img/icon-twitter.svg" width="28" height="28" loading="lazy" alt="twitter" />
                  </a>
                </li>
                <li>
                  <a href="{{ mastersocial_info.instagram_link }}" target="_blank"><img
                      src="assets/img/icon-instagram.svg" width="28" height="28" loading="lazy" alt="linkedin" />
                  </a>
                </li>
                <li>
                  <a href="{{ mastersocial_info.linkedin_link }}" target="_blank">
                    <img src="assets/img/icon-linkedin.svg" width="28" height="28" loading="lazy" alt="linkedin" />
                  </a>
                </li>
                <li>
                  <a href="{{ mastersocial_info.googleplus_link }}" target="_blank"><img
                      src="assets/img/icon-pinintrest.svg" width="28" height="28" loading="lazy" alt="pinintrest" />
                    </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <p class="m-0">
              Copyright @ ODBUS (OD Tours and Travels). All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #Mobile>
  <app-route-links *ngIf="showRouteLinks"></app-route-links>
</ng-template>

<ng-container *ngIf="isMobile; then Mobile; else Desktop"> </ng-container>