<ngx-spinner bdColor = "rgba(60,55,55,0.8)" size = "large" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="row">
    <div class="col-sm-12">
        <div class="search-box">
        <div class=" mb-3">
            <div class="row p-0">
                <div class="col-12">
                    <h2>Online Bus Tickets Booking</h2>
                </div>
                <div class="col-12">

                    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
                        <div class="hero-banner-inner-srchbus">
                            <div class="row no-gutters">
                               
                                <div class="col-md-10">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 pr-1">
                                            <label><b>From</b></label>
                                            <div class="input-group mb-3 d-block">
        
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text pr-0" id="basic-addon1"><img src="../../../assets/img/Icon-metro-location.svg"></span>
                                                
                                                    <input autocomplete="off" id="typeahead-template" type="text" class="form-control"  [ngbTypeahead]="search" [resultTemplate]="rt" 
                                                    [inputFormatter]="formatter" [ngModel]="swapsource" placeholder="Enter Source" formControlName="source" (selectItem)="tabChange('to')"/>
        
                                                    <ng-template #rt let-r="result" let-t="term">
                                                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                                    </ng-template>
                                                
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1 to_dest_block">
                                            <label><b>To</b></label>
                                           
                                            <div class="input-group mb-3 d-block">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text pr-0" id="basic-addon2"><img
                                                            src="../../../assets/img/Icon-metro-location.svg"></span>
        
                                                            <input autocomplete="off" id="to" type="text" class="form-control"  [ngbTypeahead]="search" 
                                                            [resultTemplate]="rt2" [inputFormatter]="formatter" [ngModel]="swapdestination" formControlName="destination" placeholder="Enter Destination"
                                                            (selectItem)="tabChange('entryDate')"
                                                            />
                                                          
                                                                <ng-template #rt2 let-r="result" let-t="term">
                                                                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                                                </ng-template>
                                                            
                                                            
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-4 date_inp">
                                            <label><b>Date of Journey</b></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text calendar pr-0" id="basic-addon3" (click)="d.toggle()" ><img src="assets/img/Icon-metro-calendar.svg"></span>
                                                </div>
                                                <input type="text" autocomplete="off" readonly 
                                                id="entryDate" class="form-control calendar rounded-0" formControlName="entry_date"  
                                                placeholder="Journey Date" aria-label="Journey Date" 
                                                aria-describedby="basic-addon3" ngbDatepicker (click)="d.toggle()" #d="ngbDatepicker" [min]="dtconfig.minDate" [max]="dtconfig.maxDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <p style="opacity: 0;">Search</p>
                                    <div class="bus_search">
                                        <button type="submit"  class="btn">Search</button>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>

                    <!-- <form [formGroup]="searchFrom">
                       
                        <div class="row ">
                            <div class="col-10 p-0">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group sml_input ">
                                            <div class="col-sm-12"> 
                                              <ng-select 
                                              [items]="locations"
                                              bindLabel="name"
                                              bindValue="id"
                                              placeholder="Select Source"                                       
                                              formControlName="source_id"
                                              [clearable]="false"
                                              (change)="findSource($event)"
                                              >
                                              </ng-select>                                                
                                            </div>                      
                                          </div> 
                                    </div>                                       
                                    
                                    
                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="col-sm-12 sml_input"> 
                                              <ng-select 
                                              [items]="locations"
                                              bindLabel="name"
                                              bindValue="id"
                                              placeholder="Select Destination"                                       
                                              formControlName="destination_id"
                                              [clearable]="false"
                                              (change)="findSource($event)"
                                              >
                                              </ng-select> 
                                           
                                            </div>                      
                                          </div> 
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="col-sm-12"> 
                                              <input type="date" class="form-control sml_input"  formControlName="date" >
                                            </div>                      
                                          </div> 
                                    </div>
                                </div>                                                                      
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-success  sml_input" (click)="search()" title="search">
                                  <i class="fas fa-search"> </i> Search
                                </button>
                               
                              </div>
                
                        </div>
                    </form> -->
                </div>                   
            </div>
        </div>
    </div>
        <!-- <app-card cardTitle="Book Ticket" cardClass="card-datatable" [options]="true" [isCardFooter]="true"></app-card> -->
    </div>
</div>