<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true"
  >
  <p style="color: white">Loading...</p>
</ngx-spinner>

<ng-container *ngIf="!isMobile"> 
  <section class="loginbg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header center">VERIFY OTP</div>
            <div class="card-body">
              <form
                class="form-horizontal login-f20"
                [formGroup]="otpForm"
                (ngSubmit)="onSubmit()"
              >
                <ngb-alert *ngIf="alert != ''">
                  {{ alert }}
                </ngb-alert>

                <div class="form-group phone">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"
                        ><i class="fa fa-phone fa" aria-hidden="true"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="otp"
                        id="otp"
                        placeholder="Enter OTP"
                      />
                      <div
                        *ngIf="submitted && f.otp.errors"
                        class="invalid-feedback"
                      >
                        <div class="log-left" *ngIf="f.otp.errors.required">
                          OTP is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group login-app center">
                  <button type="submit" class="log-in">Submit</button>
                </div>

                <p class="text-center" *ngIf="ResendTimer">
                  Resend OTP after
                  <countdown
                    #countdown
                    [config]="{ leftTime: Timer, format: 'ss' }"
                    (event)="handleEvent($event)"
                  ></countdown>
                  Seconds..
                </p>
                <!-- <p class="text-center">Already Registered with us? <a class="formlink" routerLink="/login">Login</a> OR  <a class="formlink" routerLink="/signup">Signup</a></p>    -->
                <p class="text-center" *ngIf="ResendOtp">
                  Did not receive the Code?
                  <a class="formlink cursor" (click)="resend_otp()">
                    Resend OTP
                  </a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="isMobile && !MenuActive">
  <div class="mobile-mybooking-top">
    <div class="row">
      <div class="col-1 pr-0 pl-2 mob-arrow-left">
         <a routerLink="/">
            <i class="fas fa-arrow-left"></i>
         </a>   
      </div>
      <div class="col-7 pl-2 pr-2 mob-list-center">
        <h5>Signup</h5>
      </div>
      <div class="col-4 pl-2 pr-2">
        <div class="mobile-logo">
          <img src="assets/img/mob-img/logo.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-raiseticket-middle">
    <div class="row">
      <div class="card">
        <div class="card-header center">VERIFY OTP</div>
        <div class="card-body">
          <form
            class="form-horizontal login-f20"
            [formGroup]="otpForm"
            (ngSubmit)="onSubmit()"
          >
            <ngb-alert *ngIf="alert != ''">
              {{ alert }}
            </ngb-alert>

            <div class="form-group phone row">
              <div class="col-12">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="otp"
                    id="otp"
                    placeholder="Enter OTP"
                  />
                  <div
                    *ngIf="submitted && f.otp.errors"
                    class="invalid-feedback"
                  >
                    <div class="log-left" *ngIf="f.otp.errors.required">
                      OTP is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group login-app center">
              <button type="submit" class="log-in">Submit</button>
            </div>

            <p class="text-center" *ngIf="ResendTimer">
              Resend OTP after
              <countdown
                #countdown
                [config]="{ leftTime: Timer, format: 'ss' }"
                (event)="handleEvent($event)"
              ></countdown>
              Seconds..
            </p>
            <!-- <p class="text-center">Already Registered with us? <a class="formlink" routerLink="/login">Login</a> OR  <a class="formlink" routerLink="/signup">Signup</a></p>    -->
            <p class="text-center" *ngIf="ResendOtp">
              Did not receive the Code?
              <a class="formlink cursor" (click)="resend_otp()"> Resend OTP </a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isMobile && MenuActive">
    <div class="mobile-myaccount-top">
      <div class="row">
        <div class="col-5">
          <div class="mobile-logo">
            <img src="assets/img/mob-img/logo.png" />
          </div>
        </div>
        <div class="col-7 mob-logintx">
          <a routerLink="/login" *ngIf="!session.isLoggedIn()">
            Login / Signup
          </a>
          <a routerLink="/dashboard" *ngIf="session.isLoggedIn()"> Dashboard </a>
        </div>
      </div>
    </div>
  
    <div class="mobile-myaccount-middle">
      <ul class="mobile-menu">
        <li>
          <a routerLink="/manage-booking"><i class="far fa-window-restore"></i> Manage Booking</a>
        </li>
        <li>
          <a routerLink="/offers"><i class="fas fa-gifts"></i> Offers</a>
        </li>
        <li>
          <a routerLink="/operators"><i class="fas fa-bus"></i> Operators</a>
        </li>
        <li>
          <a routerLink="/routes"><i class="fas fa-map-marker-alt"></i> Routes</a>
        </li>
        <li>
          <a routerLink="/faq"><i class="fas fa-question"></i> FAQ's</a>
        </li>
        <li>
          <a routerLink="/testimonials"><i class="fa fa-star"></i> Testimonials</a
          >
        </li>
        <li>
          <a routerLink="/terms-conditions"><i class="fas fa-file-image"></i> Terms & Conditions</a
          >
        </li>
        <li>
          <a routerLink="/privacy-policy"><i class="far fa-file-powerpoint"></i> Privacy Policy</a
          >
        </li>
        <li>
          <a routerLink="/about-us"><i class="fas fa-info-circle"></i> About Us</a
          >
        </li>
      </ul>
    </div>
  </ng-container>
  
  <ng-container *ngIf="isMobile">
    <div class="mob-mtbh"></div>
    <div class="mobile-fixed-bottom">
      <div class="footer-menu row m-0 mobile-bg-danger">
        <div class="col-3 p-0 text-center">
          <a routerLink="/" class="home">
            <i class="fas fa-home"></i>
            <p class="mb-0 small">Home</p>
          </a>
        </div>
        <div class="col-3 p-0 text-center">
          <a routerLink="/dashboard" class="home">
            <i class="fas fa-ticket-alt"></i>
            <p class="mb-0 small">My Bookings</p>
          </a>
        </div>
  
        <div class="col-3 p-0 text-center" *ngIf="!session.isLoggedIn()">
          <a routerLink="/login" class="home active">
            <i class="fas fa-user"></i>
            <p class="mb-0 small">Login</p>
          </a>
        </div>
  
        <div class="col-3 p-0 text-center" *ngIf="session.isLoggedIn()">
          <a routerLink="/myaccount" class="home">
            <i class="fas fa-user"></i>
            <p class="mb-0 small">My Account</p>
          </a>
        </div>
  
        <div class="col-3 p-0 text-center">
          <a (click)="menu()" class="home {{activeMenu}}">
            <i class="fas fa-bars"></i>
            <p class="mb-0 small">Menu</p>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  