.wallet-bg{
    background: #323232;
    color: #ffffff;
    padding:5px 15px !important;
    line-height: 32px !important;
    border-radius: 8px;
    margin-right: 25px;
    height:42px !important;
    margin-top: 8px;
}

.wallet-bg i{
    font-size:32px;
    color: yellowgreen;
    margin-right:8px;
    float: left;
}