<!-- =========================================
     DOWNLOAD APP MOBILE SECTION
========================================= -->

<div class="download-app-mobile">

    <!-- BACKGROUND IMAGE -->
    <img src="assets/img/app_download.png" width="375" height="280" class="bg-download" alt="Download ODBUS App">

    <!-- CONTENT -->
    <div class="download-overlay">

        <!-- TITLE -->
        <h2 class="download-title">
            Download <br>
            <span><strong>ODBUS</strong></span> APP
        </h2>

        <!-- YELLOW LINE -->
        <div class="yellow-line"></div>

        <!-- SUBTITLE -->
        <p class="download-subtitle">
            Book ticket faster <br>
            & travel smarter
        </p>

        <!-- PLAY STORE -->
        <a href="https://play.google.com/store/apps/details?id=com.od.odbus&hl=en" target="_blank" class="playstore-btn">

            <img src="assets/img/app-down.png" width="105" height="32" alt="Google Play">

            </a>

    </div>

</div>