<section
  class="top-operators fluid-15"
  *ngIf="topOperators && topOperators.length > 0"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">
        <h3 class="title-section">Top Operators</h3>
      </div>
      <div class="col-md-6 text-right">
        <a routerLink="operators" class="border-btn bh">All Operators</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row operator-card-row">
      <div class="col-md-3" *ngFor="let t of topOperators">
        <div
          class="operator-card small-card"
          (click)="operator_detail(t.operator_url)"
        >
          <div class="card-content">
            <div class="icon-wrap">
              <img src="assets/img/icon-bus-alt.svg" />
            </div>

            <div class="operator-name">
              {{ t.organisation_name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>