<div class="mobile-fixed-bottom">
  <div class="footer-menu row m-0 mobile-bg-danger">
    <!-- HOME -->
    <div class="col-3 p-0 text-center">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="home"
      >
        <i class="fa-solid fa-house"></i>
        <p class="mb-0 small">Home</p>
      </a>
    </div>

    <!-- BOOKINGS -->
    <div class="col-3 p-0 text-center">
      <a routerLink="/dashboard" routerLinkActive="active" class="home">
        <i class="fa-solid fa-ticket"></i>
        <p class="mb-0 small">Bookings</p>
      </a>
    </div>

    <!-- LOGIN -->
    <div class="col-3 p-0 text-center" *ngIf="!session.isLoggedIn()">
      <a routerLink="/login" routerLinkActive="active" class="home">
        <i class="fa-regular fa-user"></i>
        <p class="mb-0 small">Login</p>
      </a>
    </div>

    <!-- ACCOUNT -->
    <div class="col-3 p-0 text-center" *ngIf="session.isLoggedIn()">
      <a routerLink="/myaccount" routerLinkActive="active" class="home">
        <i class="fa-regular fa-circle-user"></i>
        <p class="mb-0 small">Account</p>
      </a>
    </div>

    <!-- MENU -->
    <div class="col-3 p-0 text-center">
      <span (click)="menu()" (keydown.enter)="menu()" (keydown.space)="menu()" class="home" [ngClass]="{ active: activeMenu }">
        <i class="fa-solid fa-bars-staggered"></i>
        <p class="mb-0 small">Menu</p>
      </span>
    </div>
  </div>
</div>

<!-- MOBILE FULL SCREEN MENU -->

<ng-container *ngIf="MenuActive">
  <!-- OVERLAY -->
  <div class="mobile-menu-overlay">
    <!-- TOP -->
    <div class="mobile-menu-header">
      <div class="menu-logo">
        <img src="assets/img/mob-img/logo.png" alt="Footer Logo" />
      </div>

      <div
        class="menu-close"
        (click)="MenuActive = false"
        (keydown.enter)="MenuActive = false"
        (keydown.space)="MenuActive = false"
      >
        <i class="fas fa-times"></i>
      </div>
    </div>

    <!-- USER -->
    <div class="menu-user-box">
      <div class="user-icon">
        <i class="fas fa-user"></i>
      </div>

      <div class="user-content">
        <h4 *ngIf="!session.isLoggedIn()">Welcome Guest</h4>
        <h4 *ngIf="session.isLoggedIn()">Welcome Back</h4>

        <p *ngIf="!session.isLoggedIn()">Login to manage your bookings</p>

        <p *ngIf="session.isLoggedIn()">Manage your account & bookings</p>
      </div>
    </div>

    <!-- MENU LIST -->
    <div class="mobile-menu-list">
      <a routerLink="/dashboard" *ngIf="session.isLoggedIn()">
        <div class="menu-icon">
          <i class="far fa-window-restore"></i>
        </div>

        <span>Manage Booking</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/login" *ngIf="!session.isLoggedIn()">
        <div class="menu-icon">
          <i class="far fa-window-restore"></i>
        </div>

        <span>Manage Booking</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/offers">
        <div class="menu-icon">
          <i class="fas fa-gifts"></i>
        </div>

        <span>Offers</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/operators">
        <div class="menu-icon">
          <i class="fas fa-bus"></i>
        </div>

        <span>Operators</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/routes">
        <div class="menu-icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>

        <span>Routes</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/faq">
        <div class="menu-icon">
          <i class="fas fa-question-circle"></i>
        </div>

        <span>FAQ's</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/terms-conditions">
        <div class="menu-icon">
          <i class="fas fa-file-alt"></i>
        </div>

        <span>Terms & Conditions</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/privacy-policy">
        <div class="menu-icon">
          <i class="fas fa-shield-alt"></i>
        </div>

        <span>Privacy Policy</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/about-us">
        <div class="menu-icon">
          <i class="fas fa-info-circle"></i>
        </div>

        <span>About Us</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a routerLink="/blog">
        <div class="menu-icon">
          <i class="fas fa-info-circle"></i>
        </div>

        <span>Blogs</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>

      <a *ngIf="session.isLoggedIn()" (click)="signOut()">
        <div class="menu-icon">
          <i class="fas fa-sign-out-alt"></i>
        </div>

        <span>Logout</span>

        <i class="fas fa-chevron-right right-arrow"></i>
      </a>
    </div>

    <!-- BOTTOM -->
    <div class="menu-bottom">
      <a routerLink="/login" *ngIf="!session.isLoggedIn()"> Login / Signup </a>

      <a routerLink="/dashboard" *ngIf="session.isLoggedIn()">
        Go To Dashboard
      </a>
    </div>
  </div>
</ng-container>
