<ng-container *ngIf="isMobile">
  <div class="mobile-mybooking-top">
    <div class="row">
      <div class="col-1 pr-0 pl-2 mob-arrow-left">
        <a routerLink="/">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-7 pl-2 pr-2 mob-list-center">
        <h5>Advantage</h5>
      </div>
      <div class="col-4 pl-2 pr-2">
        <div class="mobile-logo">
          <img src="assets/img/mob-img/logo.png" alt="Logo" />
        </div>
      </div>
    </div>
  </div>
</ng-container>
<section class="odbus-advantage-page">
  <!-- HEADER -->
  <div class="odbus-header mobile-header">
    <div class="container">
      <div class="odbus-breadcrumb">
        <a href="/">Home</a>
        <span>›</span>
        <a href="/">ODBUS Advantage</a>
        <span>›</span>
        <span>{{ pageDetails?.page_name }}</span>
      </div>

      <h1>{{ pageDetails?.page_name }}</h1>
      <p
        *ngIf="pageDetails?.page_short_desc"
        [innerHTML]="pageDetails?.page_short_desc"
      ></p>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="container odbus-content">
    <div class="odbus-card combined-card">
      <div
        class="section-block"
        *ngIf="pageDetails"
        [innerHTML]="pageDetails?.page_description"
      ></div>
    </div>

    <!-- FAQ -->
    <div class="odbus-card faq-section">
      <h3>Frequently Asked Questions</h3>

      <div class="faq-item" *ngFor="let faq of faqs; let i = index">
        <div class="faq-question" (click)="toggleFaq(i)">
          <span class="faq-title"> {{ i + 1 }}. {{ faq.question }} </span>

          <span class="faq-icon" [class.open]="faq.isOpen">
            <i class="fas fa-chevron-down"></i>
          </span>
        </div>

        <div
          class="faq-answer"
          *ngIf="faq.isOpen"
          [innerHTML]="faq.answer"
        ></div>
      </div>
    </div>
  </div>
</section>

<ng-container *ngIf="isMobile">
  <app-footer-menu></app-footer-menu>
</ng-container>
