<ng-container *ngIf="isMobile && !MenuActive">
  <div class="mobile-mybooking-top">
    <div class="row">
      <div class="col-1 pr-0 pl-2 mob-arrow-left">
        <a routerLink="/">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-7 pl-2 pr-2 mob-list-center">
        <h5>{{ pageTitle }}</h5>
      </div>
      <div class="col-4 pl-2 pr-2">
        <div class="mobile-logo">
          <img src="assets/img/mob-img/logo.png" loading="lazy" alt="logo" />
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-breadcrumb-box"></div>
</ng-container>
<section class="blog-listing">
  <div class="blog-breadcrumb">
    <div class="container">
      <div class="breadcrumb-wrap">
        <a routerLink="/">Home</a>

        <span>/</span>

        <span class="active-breadcrumb"> Blog </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- LEFT : BLOG CARDS -->
      <div class="col-md-9">
        <div class="row blog-cards">
          <!-- CARD -->
          <div class="col-md-4" *ngFor="let blog of blogData?.data">
            <div class="blog-card position-relative">
              <div class="blog-img">
                <img [src]="baseurl + blog.thumb_image" class="img-responsive" loading="lazy" alt=" {{ blog.title }}" />
                <span class="blog-tag">{{ blog.category_name }}</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">
                  {{ blog.author }} |
                  {{ blog.created_at | date: "dd MMM yyyy" }}
                </p>
                <h4 class="blog-title">
                  {{ blog.title }}
                </h4>
              </div>

              <a [routerLink]="['/blog', blog.blog_cat_slug, blog.slug]" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-5" *ngIf="blogData">
          <nav class="my-1 pt-3">
            <ol class="pagination pagination-circle mb-0">

              <!-- First -->
              <li class="page-item" [class.disabled]="blogData.current_page == 1">
                <a class="page-link cursor" (click)="blogData.first_page_url && getList(blogData.first_page_url)">
                  First
                </a>
              </li>

              <!-- Previous -->
              <li class="page-item" [class.disabled]="!blogData.prev_page_url">
                <a class="page-link cursor" (click)="blogData.prev_page_url && getList(blogData.prev_page_url)">
                  &laquo;
                </a>
              </li>

              <!-- Page Numbers -->
              <ng-container *ngFor="let link of blogData.links; let i = index">
                <li class="page-item" *ngIf="i != 0 && i != blogData.links.length - 1" [class.active]="link.active">

                  <a class="page-link cursor" (click)="link.url && getList(link.url)">
                    {{ link.label }}
                  </a>

                </li>
              </ng-container>

              <!-- Next -->
              <li class="page-item" [class.disabled]="!blogData.next_page_url">
                <a class="page-link cursor" (click)="blogData.next_page_url && getList(blogData.next_page_url)">
                  &raquo;
                </a>
              </li>

              <!-- Last -->
              <li class="page-item" [class.disabled]="blogData.current_page == blogData.last_page">
                <a class="page-link cursor" (click)="blogData.last_page_url && getList(blogData.last_page_url)">
                  Last
                </a>
              </li>

            </ol>
          </nav>
        </div>
      </div>

      <!-- RIGHT SIDEBAR -->
      <div class="col-md-3">
        <!-- CATEGORY -->
        <div class="blog-sidebar-box">
          <h4>Categories</h4>

          <ul class="category-list">
            <li *ngFor="let category of categoryData">
              <a [routerLink]="['/blog/category', category.slug]">
                <span>{{ category.category_name }}</span>
              </a>
              <span class="cat-count">{{ category.total }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-container *ngIf="isMobile">
  <app-footer-menu></app-footer-menu>
</ng-container>