<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>



<section class="blog-listing">

  <div class="container">

    <div class="row">

      <!-- LEFT : BLOG CARDS -->
      <div class="col-md-9">

        <div class="row blog-cards">

          <!-- CARD -->
          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="blog-card">

              <div class="blog-img">
                <img src="assets/img/Blog_1.jpg" class="img-responsive">
                <span class="blog-tag">Bookings</span>
              </div>

              <div class="blog-content">
                <p class="blog-meta">Merkel James | 27 Sep 2025</p>
                <h4 class="blog-title">
                  Top Reasons to Choose Online Bus Booking for Your Next Trip
                </h4>
              </div>

            </div>
          </div>

        </div>

      </div>


      <!-- RIGHT SIDEBAR -->
      <div class="col-md-3">

        <!-- CATEGORY -->
        <div class="blog-sidebar-box">

          <h4>Categories</h4>

          <ul class="category-list">

            <li>
              <span>Bookings</span>
              <span class="cat-count">12</span>
            </li>

            <li>
              <span>Bus Travel</span>
              <span class="cat-count">8</span>
            </li>

            <li>
              <span>Travel Tips</span>
              <span class="cat-count">5</span>
            </li>

            <li>
              <span>Routes</span>
              <span class="cat-count">3</span>
            </li>

            <li>
              <span>Tour Guide</span>
              <span class="cat-count">6</span>
            </li>

          </ul>

        </div>


        <!-- TAGS -->
        <div class="blog-sidebar-box">

          <h4>Tags</h4>

          <div class="tag-list">
            <span>Bus</span>
            <span>Travel</span>
            <span>Booking</span>
            <span>Odisha</span>
            <span>Routes</span>
            <span>Tour</span>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>