<ng-container *ngIf="isMobile">
  <div class="mobile-mybooking-top">
    <div class="row">
      <div class="col-1 pr-0 pl-2 mob-arrow-left">
        <a routerLink="/">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-7 pl-2 pr-2 mob-list-center">
        <h5>Sitemap</h5>
      </div>
      <div class="col-4 pl-2 pr-2">
        <div class="mobile-logo">
          <img src="assets/img/mob-img/logo.png" alt="Mobile logo" />
        </div>
      </div>
    </div>
  </div>
</ng-container>

<section class="sitemap">
  <ng-container *ngIf="!isMobile">
    <span class="line-span">
      <div class="container">
        <h2>ODBUS Sitemap</h2>
      </div>
    </span>
  </ng-container>
  <div class="sitemap-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            A comprehensive guide to help you navigate through our bus booking
            services, routes, and support resources.
          </p>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="sitemap-card">
            <h3 class="sitemap-title">
              <i class="fa fa-compass"></i>
              Quick Access
            </h3>

            <div class="row">
              <div class="col-sm-6">
                <ul class="sitemap-list">
                  <li>
                    <a routerLink="/">
                      <i class="fa fa-home"></i>
                      Home
                    </a>
                  </li>

                  <li>
                    <a routerLink="/offers">
                      <i class="fa fa-percent"></i>
                      Offers
                    </a>
                  </li>

                  <li>
                    <a routerLink="/manage-booking">
                      <i class="fa fa-calendar-check-o"></i>
                      Manage Booking
                    </a>
                  </li>

                  <li>
                    <a href="https://agent.odbus.in">
                      <i class="fa fa-user-secret"></i>
                      Agent Login
                    </a>
                  </li>

                  <li>
                    <a href="https://operator.odbus.co.in">
                      <i class="fa fa-bus"></i>
                      Operator Login
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="sitemap-list">
                  <li>
                    <a routerLink="/faq">
                      <i class="fa fa-question-circle"></i>
                      FAQ
                    </a>
                  </li>

                  <li>
                    <a routerLink="/blog">
                      <i class="fa fa-newspaper-o"></i>
                      Blogs
                    </a>
                  </li>

                  <li>
                    <a routerLink="/operators">
                      <i class="fa fa-bus"></i>
                      Operators
                    </a>
                  </li>

                  <li>
                    <a routerLink="/routes">
                      <i class="fa fa-road"></i>
                      Routes
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="sitemap-card">
            <h3 class="sitemap-title">
              <i class="fa fa-info-circle"></i>
              Info & Support
            </h3>

            <div class="row">
              <div class="col-sm-6">
                <ul class="sitemap-list">
                  <li>
                    <a routerLink="/terms-conditions">
                      <i class="fa fa-file-text-o"></i>
                      Terms & Conditions
                    </a>
                  </li>

                  <li>
                    <a routerLink="/privacy-policy">
                      <i class="fa fa-lock"></i>
                      Privacy Policy
                    </a>
                  </li>

                  <li>
                    <a routerLink="/about-us">
                      <i class="fa fa-info-circle"></i>
                      About ODBUS
                    </a>
                  </li>

                  <!-- <li>
                    <a routerLink="/careers">
                      <i class="fa fa-briefcase"></i>
                      Careers
                    </a>
                  </li> -->
                </ul>
              </div>

              <div class="col-sm-6">
                <ul class="sitemap-list">
                  <li>
                    <a routerLink="/contact-us">
                      <i class="fa fa-envelope"></i>
                      Contact Us
                    </a>
                  </li>

                  <li>
                    <a href="/sitemap.xml">
                      <i class="fa fa-sitemap"></i>
                      Sitemap.xml
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- App Card -->
          <div class="sitemap-app-card">
            <span class="app-badge"> NEW APP </span>

            <h3>Book on the go!</h3>

            <p>
              Download the ODBUS mobile app for faster bookings and real-time
              updates.
            </p>

            <div class="app-buttons">
              <a href="https://play.google.com/store/apps/details?id=com.od.odbus&hl=en" target="_blank" class="store-btn">
                <i class="fa fa-android"></i>
                Play Store
              </a>
            </div>

            <img
              src="assets/img/download_mob.png"
              alt="App"
              class="app-image"
            />
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="sitemap-card sitemap-services-card">
            <h3 class="sitemap-title">
              <i class="fa fa-bus"></i>
              Top Routes
            </h3>

            <div class="sitemap-section">
              <ul class="sitemap-list">
                <li *ngFor="let p of popularRoutes">
                  <a
                    [routerLink]="[
                      '/routes',
                      p.source[0].url +
                        '-' +
                        p.destination[0].url +
                        '-bus-services',
                    ]"
                    [queryParams]="{ date: currentDate }"
                  >
                    <i class="fa fa-map-marker"></i>
                    {{ p.source[0].name }} → {{ p.destination[0].name }}
                  </a>
                </li>
                <li>
                  <a routerLink="/routes" class="view-all-link">
                    View All Routes →
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Info Support -->
        <div class="col-md-4 col-sm-12">
          <div class="sitemap-card sitemap-services-card">
            <h3 class="sitemap-title">
              <i class="fa fa-bus"></i>
              Top Operators
            </h3>

            <div class="sitemap-section">
              <ul class="sitemap-list">
                <li *ngFor="let t of topOperators">
                  <a [routerLink]="['/operators', t.operator_url]">
                    <i class="fa fa-bus"></i>
                    {{ t.organisation_name }} ( {{ t.operatorName }} )
                  </a>
                </li>
                <li>
                  <a routerLink="/operators" class="view-all-link">
                    View All Operators →
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-container *ngIf="isMobile">
  <app-footer-menu></app-footer-menu>
</ng-container>
