.card-header {
    color: #072c6b;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
    background-color: rgb(239 192 3);
}
label {
   font-size: 1rem;
    font-weight: 500;
    color: #7f7f7f;
}
.form-control {
    height: 0; 
    padding: 1.3rem .75rem;
    font-size: .8rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #fafafa;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 1px 2px 7px #f4f4f4;
}
.reg{    background-color: #072c6b;
    border-radius: 34px;}
.formlink{color: #efc003;
    text-decoration: underline;}

    .via_login{
        font-weight: bold;
    }

    .center{
        text-align: center;
    }

    .justify-content-center{
        padding: 60px;
      }

    .login-app .log-in{
        display: inline-block;
        width: 140px;
        background-color: #072C6B;
        height: 38px;
        line-height: 38px;
        text-align: center;
        box-shadow: 3px 3px 6px #00000029;
        border-radius: 8px;
        margin-left:30%;
        color: #fff;
        letter-spacing: 0.25px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
      }

      .loginbg{
          background: #e7eaeb;
      }

      .card-header{
          font-size: 25px;;
      }

      .loginbg .form-control{
        border: 1px solid #072c6b !important;
        border-radius: 4px;
      }

      .loginbg .input-group-addon{
        padding:8px 12px 8px 0px;
      }
      .log-left{
          margin-left:30px;
      }

    .alert-success{
        margin-left:28px !important;
      }
    

      
  /* Mobile Version Support Start- */
 .mobile-mybooking-top{
    background-color: #efc003;
    padding:12px 18px 14px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 10px #0003;
  }
  
  .mobile-mybooking-top .mob-arrow-left i{
    font-size:30px;
    color: #072c6b;
    margin-top:10px;
  }
  
  .mobile-mybooking-top .mob-list-center h5{
    color: #072c6b;
    font-size:20px;
    font-weight:800;
    text-align: left;
    padding-top:10px;
    padding-left:5px;
    margin-bottom: 4px;
  
  }
  
  .mobile-logo img{
    height:42px;
    float:right;
  }
  
  
  
  .mobile-raiseticket-middle{
     margin:88px 28px 30px
  }
  
  .mobile-raiseticket-middle h4{
     font-size: 18px;
    color: #072c6b;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
  }
  
  .mobile-raiseticket-middle input{
    border:1px solid #072c6b;
  }
  
  .mobile-raiseticket-middle select{
    border:1px solid #072c6b;
  }
  
  .mobile-raiseticket-middle textarea{
    border:1px solid #072c6b;
  }
 
  .mobile-raiseticket-middle .login-app .log-in{
      display: inline-block;
      width:120px;
      color:#072c6b;
      height: 38px;
      line-height: 38px;
      text-align: center;
      box-shadow: 3px 3px 6px #00000029;
      border-radius:4px;
      letter-spacing: .25px;
      font-size:18px;
      text-transform: uppercase;
      font-weight:600;
      border: none;
      background-color: #efc003;
  }
  
  .mobile-raiseticket-middle .card-header{
      color: #072c6b;
      font-weight:500;
      font-size: 22px;
      margin-bottom: 0;
      text-align: center;
      background-color: rgba(0,0,0,.03);
      border-bottom: 1px solid rgba(0,0,0,.125);
  }
  
  .mobile-raiseticket-middle .card{
    width: 100%;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  
  
  
  
  .mobile-fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:99999;
  }
  .mobile-fixed-bottom .home{
    color: #323232;
  }
  
  .mobile-fixed-bottom .home i{
    font-size: 24px;
  }
  
  .mobile-fixed-bottom .active{
    color: #efc003;
  }
  
  .mobile-fixed-bottom .active p{
    color: #efc003 !important;
  }
  
  .mobile-fixed-bottom .home p{
    color: #323232;
    font-size:16px;
    font-weight: 600;
  }
  
  .mobile-bg-danger {
    background-color: #ffffff!important;
    padding-top:12px;
    padding-bottom: 8px;
    -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
   -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
   box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
  }
  
  .mob-mtbh{
    height: 80px;
  }
 /* Mobile Menu Section */

 .mobile-logo img{
  height:42px;
  float:right;
} 

.mobile-myaccount-top .mob-logintx a{
    float:right;
    font-size:17px;
    color: #072c6b;
    font-weight: 600;
    padding-top:8px ;
}

.mobile-myaccount-top{
  background-color: #efc003;
  padding:12px 18px 14px;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 10px #0003;
} 

.mobile-myaccount-middle{
     margin:88px 20px 60px
 }

.mobile-myaccount-middle .mobile-menu {
  width:100%; 
  list-style-type: none;
  padding-left: 0px; 
}

.mobile-myaccount-middle .mobile-menu a {
    background-color: #fff;
    display: block;   
    color: #072c6b;
    padding:8px 18px; 
    text-decoration: none; 
    font-size :17px;
    font-weight: 600;
    margin-bottom:10px;
    border-radius: 4px;
}

.mobile-myaccount-middle .mobile-menu a i{
  color: #efc003;
  margin-right: 8px;
}  