<section class="recent-search-section">
  <div class="container" *ngIf="recentSearches.length > 0">
    <h2 class="recent-title"><span class="line"></span> Recent Searches</h2>

    <div class="recent-wrapper">     
      <div
        class="recent-card"
        *ngFor="let item of recentSearches"
        (click)="openRecent(item)"
      >
       <span class="recent-icon" aria-hidden="true">
          <i class="fas fa-history"></i>
      </span>


        <span class="recent-text">
        <span class="recent-route">
            {{ item.source | titlecase }} →
            {{ item.destination | titlecase }}
         </span>

           <span class="recent-date">
            {{ formatDate(item.date) | date: "EEE d MMM y" }}
           </span>
        </span>
      </div>
    </div>
  </div>
</section>
