<section class="recent-search-section">
  <div class="container">
    <h4 class="recent-title"><span class="line"></span> Recent Searches</h4>

    <div class="recent-wrapper">
      <!-- ITEM -->
      <div class="recent-card">
        <div class="recent-icon">
          <i class="fas fa-history"></i>
        </div>
        <div class="recent-text">
          <h5>New York → Boston</h5>
          <p>Mon 6 April 2026</p>
        </div>
      </div>

      <div class="recent-card">
        <div class="recent-icon">
          <i class="fas fa-history"></i>
        </div>
        <div class="recent-text">
          <h5>New York → Boston</h5>
          <p>Mon 6 April 2026</p>
        </div>
      </div>

      <div class="recent-card">
        <div class="recent-icon">
          <i class="fas fa-history"></i>
        </div>
        <div class="recent-text">
          <h5>Bangalore → Chennai</h5>
          <p>Mon 8 April 2026</p>
        </div>
      </div>

      <div class="recent-card">
        <div class="recent-icon">
          <i class="fas fa-history"></i>
        </div>
        <div class="recent-text">
          <h5>Kolkata → Bhubaneswar</h5>
          <p>Mon 9 April 2026</p>
        </div>
      </div>

      <div class="recent-card">
        <div class="recent-icon">
          <i class="fas fa-history"></i>
        </div>
        <div class="recent-text">
          <h5>Bhubaneswar → Rourkela</h5>
          <p>Mon 9 April 2026</p>
        </div>
      </div>
    </div>
  </div>
</section>
