<section class="bus-ticket-page">

    <!-- Header -->
    <section class="page-header">
        <div class="container">

            <div class="breadcrumb">
                <a routerLink="/">Home</a>
                <span>›</span>
                <span>{{ pageTitle }}</span>
            </div>

            <h1>{{ pageTitle }}</h1>

        </div>
    </section>

    <!-- Search -->
    <section class="search-wrapper">
            <app-search-box></app-search-box>
    </section>

    <!-- Content -->
    <section class="content-wrapper">

        <div class="container">

            <div class="content-card">

                <div class="section-block" [innerHTML]="pageContent"></div>

            </div>

        </div>

    </section>

</section>