<ngx-spinner
  bdColor="rgba(255,255,255,0.3)"
  [fullScreen]="true"
  type="none">
   <div class="custom-spinner">
    <div class="bus-loader">
      <div class="loader-ring"></div>
      <i class="fas fa-bus bus-icon"></i>
    </div>
  </div>
</ngx-spinner>
<div class="app-loading-overlay" *ngIf="showLoader && isBrowser"></div>
<app-header
  *ngIf="deviceReady && !isMobile && !hideLayout()"
>
</app-header>

<main role="main">
  <router-outlet></router-outlet>
</main>

<app-footer
  *ngIf="deviceReady && !hideLayout()"
  [topOperatorLinks]="topOperatorLinks" [popularRoutesLinks]="popularRoutesLinks">
</app-footer>
