.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.search-po{
    width: 5%;
    position: absolute;
    left: 24px;
    top: 9px;}
.an-search{    border: solid 1px #707b94;
    border-radius: 5px;}

    a{
        text-decoration: none;
    }

    .main-tnc{    
        background-color:#ffffff;
        border: #000026;
        margin-top:65px;
        margin-bottom: 55px;
        border-radius: 8px;
        padding:30px 40px;
        border: 1px solid #adadad;
    }

    .opertbg{
        background: #e7eaeb;
    }

    .line-span{
        background-color: #EFC003;
        height: 2px;
        display: block;
        position: relative;
        margin-top: 63px;
    }
    .line-span h2 {
        text-align: center;
        display: inline-block;
        position: absolute;
        background: #EFC003;
        /* left: 41%; */
        top: -26px;
        color: #072C6B;
        padding: 10px 20px;
        font-size: 24px;
        font-weight: 600;
    }

    section.top-routs{
        padding: 0px!important;
    }

    section.top-routs ul li {
        display: inline-block;
        width: 24.2% !important;
        line-height: 30px;
        margin-right: 8px;
    }

    section.top-routs ul li a {
        color: #323232;
        font-size: 14px !important;
        margin: 10px 0;
        line-height: 19px;
        display: inline-block;
        font-weight: 500;
        text-transform: uppercase !important;
    }

    .pagination li{
        width: unset !important;
    }

    .btn-info {
        color: #fff;
        background-color: #072C6B;
        border-color: #072C6B;
    }

    .page-link {
        color: #323232;
        text-transform: uppercase;
    }
     /* Mobile Version Support Start- */
    .mobile-mybooking-top{
        background-color: #efc003;
        padding:12px 18px 14px;
        position: fixed;
        z-index: 99;
        width: 100%;
        top: 0;
        box-shadow: 0 3px 10px #0003;
    }
    
    .mobile-mybooking-top .mob-arrow-left i{
        font-size:30px;
        color: #072c6b;
        margin-top:10px;
    }
    
    .mobile-mybooking-top .mob-list-center h5{
        color: #072c6b;
        font-size:20px;
        font-weight:800;
        text-align: left;
        padding-top:10px;
        padding-left:5px;
        margin-bottom: 4px;
    
    }    
    .mobile-logo img{
        height:42px;
        float:right;
    }    
    .mobile-operators-middle{
        margin:88px 20px 30px
    }

    .mobile-operators-middle .top-routs ul li a {
        color: #323232;
        font-size: 12px !important;
        margin: 10px 0;
        line-height: 19px;
        display: inline-block;
        font-weight: 500;
        text-transform: uppercase !important;
    }

    .mobile-operators-middle .btn-info {
        color: #fff;
        background-color: #072C6B;
        border-color: #072C6B;
        padding: 4px 4px;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 8px;
    }

    .mobile-operators-middle  .btn-warning {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
        padding: 4px 4px;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 8px;
    }
    
    /*.mobile-operators-middle{
        background-color: #fff;
        border-radius: 5px;
        padding:20px;
        border: 1px solid #adadad;
    }*/
    
    .mobile-operators{
        width:100%; 
        list-style-type: none;
        padding-left: 0px;
        columns: 2;
    }
    .mobile-operators li{
        margin-bottom:5px;
    
    }
    .mobile-operators li a{
        color: #072c6b;
        font-size:13.5px;
        text-transform: uppercase;
    
    }    
    .mobile-operators li a i{
        color: #efc003;
        margin-right:3px ;
    
    } 
       
    .mobile-fixed-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index:99999;
    }
    .mobile-fixed-bottom .home{
        color: #323232;
    }
    
    .mobile-fixed-bottom .home i{
        font-size: 24px;
    }
    
    .mobile-fixed-bottom .active{
        color: #efc003;
    }
    
    .mobile-fixed-bottom .active p{
        color: #efc003 !important;
    }
    
    .mobile-fixed-bottom .home p{
        color: #323232;
        font-size:16px;
        font-weight: 600;
    }
    
    .mobile-bg-danger {
        background-color: #ffffff!important;
        padding-top:12px;
        padding-bottom: 8px;
        -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
    box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
    }
    
    .mob-mtbh{
        height: 80px;
    }

    /* Mobile Menu Section */

  .mobile-logo img{
    height:42px;
    float:right;
  } 
  
  .mobile-myaccount-top .mob-logintx a{
      float:right;
      font-size:17px;
      color: #072c6b;
      font-weight: 600;
      padding-top:8px ;
  }

  .mobile-myaccount-top{
    background-color: #efc003;
    padding:12px 18px 14px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 10px #0003;
  } 

  .mobile-myaccount-middle{
       margin:88px 20px 60px
   }

  .mobile-myaccount-middle .mobile-menu {
    width:100%; 
    list-style-type: none;
    padding-left: 0px; 
  }

  .mobile-myaccount-middle .mobile-menu a {
      background-color: #fff;
      display: block;   
      color: #072c6b;
      padding:8px 18px; 
      text-decoration: none; 
      font-size :17px;
      font-weight: 600;
      margin-bottom:10px;
      border-radius: 4px;
  }

  .mobile-myaccount-middle .mobile-menu a i{
    color: #efc003;
    margin-right: 8px;
  }  
  
  