<section class="route-link-section fluid-15">
  <div class="container">
    <div class="route-tabs">
      <span class="route-tab" [class.active]="activeTab === 1" (click)="activeTab = 1" (keydown.enter)="activeTab = 1"
        (keydown.space)="activeTab = 1">
        Top Bus Routes
      </span>

      <span class="route-tab" [class.active]="activeTab === 2" (click)="activeTab = 2" (keydown.enter)="activeTab = 2"
        (keydown.space)="activeTab = 2">
        Top Bus Operators
      </span>

      <span class="route-tab" [class.active]="activeTab === 3" (click)="activeTab = 3" (keydown.enter)="activeTab = 3"
        (keydown.space)="activeTab = 3">
        Quick Links
      </span>

      <span class="route-tab" [class.active]="activeTab === 4" (click)="activeTab = 4" (keydown.enter)="activeTab = 4"
        (keydown.space)="activeTab = 4">
        Info
      </span>
    </div>

    <div class="tab-content">
      <!-- TAB 1 -->
      <div class="tab-pane fade" [class.active]="activeTab === 1">
        <div class="row route-grid">
          <div class="col-md-3" *ngFor="let column of popularRoutesLinks">
            <div *ngFor="let route of column"
              (click)="goToRoute(route)" style="cursor: pointer;">
              {{ route.source }} to {{ route.destination }} Bus
            </div>
          </div>
        </div>
      </div>

      <!-- TAB 2 -->
      <div class="tab-pane fade" [class.active]="activeTab === 2">
        <div class="row route-grid">
          <div class="col-md-3" *ngFor="let column2 of topOperatorLinks">
            <a *ngFor="let operator of column2" [routerLink]="['/operators', operator.operator_url]">
              {{ operator.organisation_name }}
            </a>
          </div>
        </div>
      </div>

      <!-- TAB 3 -->
      <div class="tab-pane fade" [class.active]="activeTab === 3">
        <div class="row route-grid">
          <div class="col-md-3">
            <a routerLink="/online-bus-tickets">Online Bus Tickets</a>
            <a routerLink="/offers">Offers</a>
            <a target="_blank" href="https://agent.odbus.in">Agent Login</a>
            <a target="_blank" href="https://operator.odbus.in">Operator Login</a>
          </div>

          <div class="col-md-3">
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/blog">Blogs</a>
            <a routerLink="/operators">Operators</a>
            <a routerLink="/routes">Routes</a>
          </div>
        </div>
      </div>

      <!-- TAB 4 -->
      <div class="tab-pane fade" [class.active]="activeTab === 4">
        <div class="row route-grid">
          <div class="col-md-3">
            <a routerLink="/terms-conditions">Terms & Conditions</a>
            <a routerLink="/privacy-policy">Privacy Policy</a>
            <a routerLink="/cancelation-policy">Cancellation Policy</a>
            <!-- <a href="/sitemap.xml">Sitemap.xml</a> -->
            <!-- <a routerLink="/careers">Careers</a> -->
          </div>
          <div class="col-md-3">
            <a routerLink="/about-us">About ODBUS</a>
            <a routerLink="/contact-us">Contact Us</a>
            <a routerLink="/sitemap">Sitemap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>