<section class="route-link-section fluid-15">
  <div class="container">
    <!-- Tabs -->
    <ul class="route-tabs nav nav-tab">
      <li class="active"><a href="#">Top Bus Routes</a></li>
      <li><a href="#">Top Bus Operators</a></li>
      <li><a href="#">Quick Links</a></li>
      <li><a href="#">Info</a></li>
    </ul>

    <div class="tab-content">
      <!-- TAB 1 -->
      <div class="tab-pane fade in active">
        <div class="row route-grid">
          <div class="col-md-3" *ngFor="let column of popularRoutesLinks">
            <a
              *ngFor="let route of column"
              [routerLink]="[
                '/routes',
                route.source[0].url +
                  '-' +
                  route.destination[0].url +
                  '-bus-services',
              ]"
            >
              {{ route.source[0].name }} to {{ route.destination[0].name }} Bus
            </a>
          </div>
        </div>
      </div>

      <!-- TAB 2 -->
      <div class="tab-pane fade">
        <div class="row route-grid">
          <div class="col-md-3" *ngFor="let column2 of topOperatorLinks">
            <a
              *ngFor="let operator of column2"
              [routerLink]="['/operator', operator.operator_url]"
            >
              {{ operator.organisation_name }}
            </a>
          </div>
        </div>
      </div>

      <!-- TAB 3 -->
      <div class="tab-pane fade">
        <div class="row route-grid">
          <div class="col-md-3">
            <a routerLink="/">Online Bus Tickets</a>
            <a routerLink="/">Offers</a>
            <a routerLink="/">Manage Booking</a>
            <a target="_blank" href="https://agent.odbus.in">Agent Login</a>
            <a target="_blank" href="https://operator.odbus.co.in"
              >Operator Login</a
            >
          </div>

          <div class="col-md-3">
            <a routerLink="/">FAQ</a>
            <a routerLink="/">Blogs</a>
            <a routerLink="/">Operators</a>
            <a routerLink="/">Routes</a>
          </div>
        </div>
      </div>

      <!-- TAB 4 -->
      <div class="tab-pane fade">
        <div class="row route-grid">
          <div class="col-md-3">
            <a routerLink="/">Terms & Conditions</a>
            <a routerLink="/">Privacy Policy</a>
            <a routerLink="/">Careers</a>
          </div>
          <div class="col-md-3">
            <a routerLink="/">About ODBUS</a>
            <a routerLink="/">Contact Us</a>
            <a routerLink="/">Sitemap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
