<section class="faq-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">
        <h3 class="title-section">FAQs related to Bus Tickets Booking</h3>
      </div>
    </div>

    <div class="faq-tabs" role="tablist">
      <button
        *ngFor="let cat of faqs; let i = index"
        type="button"
        role="tab"
        class="faq-tab"
        [class.active]="activeTab === i"
        (click)="activeTab = i"
        [attr.aria-selected]="activeTab === i"
        [attr.aria-controls]="'faq-panel-' + i"
        [attr.id]="'faq-tab-' + i"
      >
        {{ cat.category_name }}
      </button>
    </div>

    <div class="tab-content">
      <div
        *ngFor="let faq of faqs[activeTab]?.faqs; let j = index"
        role="tabpanel"
        class="faq-item"
        [class.active]="openIndex[activeTab] === j"
        [attr.id]="'faq-panel-' + j"
        [attr.aria-labelledby]="'faq-tab-' + j">
        <div
          class="faq-question"
          (click)="openIndex[activeTab] = openIndex[activeTab] === j ? -1 : j"
          (keydown.enter)="
            openIndex[activeTab] = openIndex[activeTab] === j ? -1 : j
          "
          (keydown.space)="
            openIndex[activeTab] = openIndex[activeTab] === j ? -1 : j
          "
        >
          {{ faq.title }}
          <span class="faq-icon">
            <i class="fa fa-angle-down"></i>
          </span>
        </div>

        <div
          class="faq-answer"
          [style.display]="openIndex[activeTab] === j ? 'block' : 'none'"
          [innerHTML]="faq.content"
        ></div>
      </div>
    </div>
  </div>
</section>
