.line-span{
	background-color: #EFC003;
    height: 2px;
    display: block;
    position: relative;
    margin-top: 63px;
}
.line-span h2 {
    text-align: center;
    display: inline-block;
    position: absolute;
    background: #EFC003;
    /* left: 12%; */
    top: -26px;
    color: #072C6B;
    padding: 10px 20px;
    font-size: 21px;
}

.main-tnc-heading{    
    background-color:#F8F8F8;
    border: #000026;
    padding: 50px 50px;}
.manage-heading{    
    background-color: #072C6B;
    margin-top: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px 1px 10px;
    }
.manage-heading h1{font-size: 18px; color: #fff;}

.modul-text{
    background-color: transparent;
    border-bottom: solid 1px #b5b5b5 !important;
    border: none;     
    padding-left: 0;
    text-transform: uppercase;

}
.submit{background-color: #efc003;
    color: #072c6b;
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    padding: 7px 30px;
    border-radius: 0;}

.main-tnc-buttom{    
    background-color:transparent;
    border: #000026;
    padding: 50px 50px;}
.main-te h2{text-align: center; color: #072C6B; font-size:24px; font-weight: 600; margin-bottom: 15px;}
.main-te h3{text-align: center; color: #072C6B; font-size: 18px;font-weight: 600;}
.star3{    
    width: 4%;
    margin-right: 8px;}
.star4{    
    width: 4%;
    margin-right: 8px;}

.input-group-addon{
    padding:8px 12px ;
}


  /* Mobile Version Ticket Cancellation Start- */
  .mobile-mybooking-top{
    background-color: #efc003;
    padding:12px 18px 14px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 10px #0003;
  }
  
  .mobile-mybooking-top .mob-arrow-left i{
    font-size:30px;
    color: #072c6b;
    margin-top:10px;
  }
  
  .mobile-mybooking-top .mob-list-center h5{
    color: #072c6b;
    font-size:20px;
    font-weight:800;
    text-align: left;
    padding-top:10px;
    padding-left:5px;
    margin-bottom: 4px;
  
  }
  
  .mobile-logo img{
    height:42px;
    float:right;
  }
  
  
  
  .mobile-ticket-cancel-box{
     margin:88px 20px 30px
  }
  
  .mobile-ticket-cancel-box{
      background-color: #fff;
      border-radius: 5px;
      padding:20px;
      border: 1px solid #adadad;
  }
  
  .mobile-ticket-cancel-box .mob-tk label{
    font-size: 15px;
    color:#072c6b;
  }
  
  .mobile-ticket-cancel-box .mob-tk input{
    border:1px solid #072c6b;
    padding:8px 12px;
    width: 100%;
    border-radius:5px;
  }
  
  .mobile-ticket-cancel-box .mob-submit{
    background: #efc003;
    color: #072c6b;
    border-radius: 5px;
    font-size: 18px;
    text-align:center;
    border: none;
    padding:8px 15px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
  } 
  
  .mobile-fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:99999;
  }
  .mobile-fixed-bottom .home{
    color: #323232;
  }
  
  .mobile-fixed-bottom .home i{
    font-size: 24px;
  }
  
  .mobile-fixed-bottom .active{
    color: #efc003;
  }
  
  .mobile-fixed-bottom .active p{
    color: #efc003 !important;
  }
  
  .mobile-fixed-bottom .home p{
    color: #323232;
    font-size:16px;
    font-weight: 600;
  }
  
  .mobile-bg-danger {
    background-color: #ffffff!important;
    padding-top:12px;
    padding-bottom: 8px;
    -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
   -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
   box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
  }
  
  .mob-mtbh{
    height: 80px;
  }

 /* Mobile Menu Section */

 .mobile-logo img{
  height:42px;
  float:right;
} 

.mobile-myaccount-top .mob-logintx a{
    float:right;
    font-size:17px;
    color: #072c6b;
    font-weight: 600;
    padding-top:8px ;
}

.mobile-myaccount-top{
  background-color: #efc003;
  padding:12px 18px 14px;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 10px #0003;
} 

.mobile-myaccount-middle{
     margin:88px 20px 60px
 }

.mobile-myaccount-middle .mobile-menu {
  width:100%; 
  list-style-type: none;
  padding-left: 0px; 
}

.mobile-myaccount-middle .mobile-menu a {
    background-color: #fff;
    display: block;   
    color: #072c6b;
    padding:8px 18px; 
    text-decoration: none; 
    font-size :17px;
    font-weight: 600;
    margin-bottom:10px;
    border-radius: 4px;
}

.mobile-myaccount-middle .mobile-menu a i{
  color: #efc003;
  margin-right: 8px;
}   