<ng-container *ngIf="!isMobile">
  <section class="opertbg top-routs">
    <span class="line-span">
      <div class="container">
        <h2>All Routes</h2>
      </div>
    </span>
    <div class="textimonials-result1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-tnc">
              <div class="row">
                <div class="col-md-8"></div>
                <div class="form-group col-md-4" align="right">
                  <input
                    class="form-control"
                    type="search"
                    [(ngModel)]="searchText"
                    placeholder="Search Route"
                  />
                </div>
              </div>

              <ul
                *ngIf="
                  (all_routes | filter: searchText).length > 0;
                  else noResults
                "
              >
                <input
                  type="hidden"
                  [(ngModel)]="dtconfig.minDate"
                  name="todayDate"
                  id="todayDate"
                  ngbDatepicker
                  (click)="d.toggle()"
                  #d="ngbDatepicker"
                />

                <li *ngFor="let p of all_routes | filter: searchText">
                  <div class="route-card">
                    <a
                      class="route-link"
                      (click)="popularSearch(p.source_slug, p.destination_slug)"
                    >
                      <img
                        class="popl-routs-icon1"
                        src="assets/img/Icon-metro-location.svg"
                        alt="Source Location"
                        loading="lazy"
                      />
                      <span class="route-text">{{ p.source_name }}</span>

                      <img
                        class="popl-routs-icon2"
                        src="assets/img/left-right.png"
                        alt="Direction"
                        loading="lazy"
                      />

                      <span class="route-text">{{ p.destination_name }}</span>
                    </a>
                  </div>
                </li>
              </ul>

             
            </div>
             <div class="row mb-5">
                <div class="col-md-12 text-center">
                  <button *ngIf="hasMore && !loading && !searchText" (click)="allRoutes()" class="border-btn bh">
                    Load More
                  </button>

                  <div *ngIf="loading">Loading...</div>

                  <div *ngIf="!hasMore">No more records</div>
                </div>
              </div>

            <ng-template #noResults>
              <p *ngIf="searchText" class="text-center">
                No results found for "{{ searchText }}".
              </p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="isMobile && !MenuActive">
  <div class="mobile-mybooking-top">
    <div class="row">
      <div class="col-1 pr-0 pl-2 mob-arrow-left">
        <a routerLink="/">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-7 pl-2 pr-2 mob-list-center">
        <h5>Popular Routes</h5>
      </div>
      <div class="col-4 pl-2 pr-2">
        <div class="mobile-logo">
          <img
            src="assets/img/mob-img/logo.png"
            alt="Mobile Logo"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="mobile-routes-middle"
    *ngIf="all_routes.length > 0; else noResults"
  >
    <div
      class="mobile-routes-box shadow"
      *ngFor="let p of all_routes"
      (click)="popularSearch(p.source_slug, p.destination_slug)"
    >
      <input
        type="hidden"
        [(ngModel)]="dtconfig.minDate"
        name="todayDate"
        id="todayDate2"
        ngbDatepicker
        (click)="d.toggle()"
        #d="ngbDatepicker"
      />
      <div class="row mob-tkbox-mid">
        <div class="col-5 pl-3 pr-2 text-center">
          <h6>{{ p.source_name }}</h6>
        </div>
        <div class="col-2 p-0 text-center">
          <i class="fas fa-exchange-alt"></i>
        </div>
        <div class="col-5 pl-2 pr-3 text-center">
          <h6>{{ p.destination_name }}</h6>
        </div>
      </div>

      <div class="row mt-4 mb-3 mob-tkbox-bot">
        <div class="col-12">
          <a (click)="popularSearch(p.source_slug, p.destination_slug)"
            >Book Now</a
          >
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let route of routeList">
    {{ route.source_name }} ⇄ {{ route.destination_name }}
  </div>

  <button *ngIf="hasMore && !loading && !searchText" (click)="allRoutes()" class="border-btn bh">
    Load More
  </button>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="!hasMore">No more records</div>
</ng-container>

<ng-container *ngIf="isMobile && MenuActive">
  <div class="mobile-myaccount-top">
    <div class="row">
      <div class="col-5">
        <div class="mobile-logo">
          <img
            src="assets/img/mob-img/logo.png"
            alt="Mobile Logo"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col-7 mob-logintx">
        <a routerLink="/login" *ngIf="!session.isLoggedIn()">
          Login / Signup
        </a>
        <a routerLink="/dashboard" *ngIf="session.isLoggedIn()"> Dashboard </a>
      </div>
    </div>
  </div>

  <div class="mobile-myaccount-middle">
    <ul class="mobile-menu">
      <li>
        <a routerLink="/manage-booking"
          ><i class="far fa-window-restore"></i>Manage Booking</a
        >
      </li>
      <li>
        <a routerLink="/contact-us"
          ><i class="fas fa-envelope"></i> Contact Us</a
        >
      </li>
      <li>
        <a routerLink="/offers"><i class="fas fa-gifts"></i>Offers</a>
      </li>
      <li>
        <a routerLink="/operators"><i class="fas fa-bus"></i>Operators</a>
      </li>
      <li>
        <a routerLink="/faq"><i class="fas fa-question"></i>FAQ's</a>
      </li>
      <li>
        <a routerLink="/testimonials"><i class="fa fa-star"></i>Testimonials</a>
      </li>
      <li>
        <a routerLink="/terms-conditions"
          ><i class="fas fa-file-image"></i>Terms & Conditions</a
        >
      </li>
      <li>
        <a routerLink="/privacy-policy"
          ><i class="far fa-file-powerpoint"></i>Privacy Policy</a
        >
      </li>
      <li>
        <a routerLink="/about-us"><i class="fas fa-info-circle"></i>About Us</a>
      </li>
      <li *ngIf="session.isLoggedIn()">
        <a routerLink="/my-reviews"><i class="fas fa-comments"></i>My Review</a>
      </li>
      <li *ngIf="session.isLoggedIn()">
        <a (click)="signOut()"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>
    </ul>
  </div>
</ng-container>

<ng-container *ngIf="isMobile">
  <app-footer-menu></app-footer-menu>
</ng-container>
