<ng-container *ngIf="isMobile; then Mobile; else Desktop"></ng-container>

<!-- DESKTOP -->
<ng-template #Desktop>
  <section
    class="section-offer carousel-home fluid-15"
    *ngIf="Offers.length > 0"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-offer-left">
            <h2>ODBUS OFFERS</h2>
          </div>
        </div>

        <div class="col-md-6 text-right">
          <a routerLink="/offers">View All</a>
        </div>

        <div class="col-md-12 mt-4" *ngIf="isBrowser">
          <carousel [images]="offerList" [cellsToShow]="3" [loop]="true" [autoplay]="true" [autoplayInterval]="3000">
          </carousel>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<!-- <ng-template #Mobile>
  <section class="mobile-discount" *ngIf="Offers.length > 0">

    <div class="mobile-offer-container">
      <div class="mobile-offer-header">
        <h6>ODBUS OFFERS</h6>

        <a routerLink="/offers">View All</a>
      </div>
      <div class="mobile-offer-slider">
        <carousel [images]="offerList" [cellsToShow]="1" [loop]="true" [arrows]="false" [autoplay]="true"
          [autoplayInterval]="2500">
        </carousel>

      </div>

    </div>

  </section>
</ng-template> -->

<!-- ================= MOBILE OFFER SECTION ================= -->

<ng-template #Mobile>
  <section class="mobile-offers-section" *ngIf="Offers.length > 0">
    <!-- HEADER -->
    <div class="mobile-offers-top">
      <h2>ODBUS OFFERS</h2>

      <a routerLink="/offers">View All</a>
    </div>

    <!-- OFFER SLIDER -->
    <div class="mobile-offers-card" *ngIf="isBrowser">
      <carousel
        [images]="offerList"
        [cellsToShow]="1"
        [loop]="true"
        [autoplay]="true"
        [autoplayInterval]="2500"
        [arrows]="false"
      >
      </carousel>
    </div>
  </section>
</ng-template>
