<ng-container *ngIf="isMobile; then Mobile; else Desktop"></ng-container>

<!-- DESKTOP -->
<ng-template #Desktop>

  <section
    class="section-offer carousel-home fluid-15"
    *ngIf="Offers.length > 0"
  >

    <div class="container">

      <div class="row">

        <div class="col-md-6">
          <div class="section-offer-left">
            <h2>ODBUS OFFERS</h2>
          </div>
        </div>

        <div class="col-md-6 text-right">
          <a routerLink="/offers">View All</a>
        </div>

        <!-- SSR SAFE -->
        <div class="col-md-12 mt-4" *ngIf="isBrowser">

          <carousel
            [images]="offerList"
            [cellsToShow]="3"
            [loop]="true"
            [autoplay]="true"
            [autoplayInterval]="3000"
          >
          </carousel>

        </div>

      </div>

    </div>

  </section>

</ng-template>

<!-- MOBILE -->
<ng-template #Mobile>

  <div class="p-3 mobile-discount" *ngIf="Offers.length > 0">

    <div class="row m-0">

      <div class="col-7">
        <h6>ODBUS OFFERS</h6>
      </div>

      <div class="col-5 text-right">
        <a routerLink="/offers">View All Offer</a>
      </div>

    </div>

    <div class="row m-0 mt-2">

      <!-- SSR SAFE -->
      <div class="col-12" *ngIf="isBrowser">

        <carousel
          [images]="offerList"
          [cellsToShow]="1"
          [loop]="true"
          [arrows]="false"
          [autoplay]="true"
          [autoplayInterval]="3000"
        >
        </carousel>

      </div>

    </div>

  </div>

</ng-template>