<ngx-spinner bdColor="rgba(60,55,55,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="row">
  <div class="col-xl-12 ">
    <app-card [hidHeader]="true" [options]="false">
      <b>{{RangeText}}</b>
      <div class="btn-group btn-group-toggle float-right" ngbRadioGroup name="ticketSize" data-toggle="buttons">
        <label ngbButtonLabel class="btn btn-info">All
          <input ngbButton type="radio" class="dateRange" name="dateRange" value="large-view" id="option5"
            (click)="getall('All')"> <i class="feather icon-award m-0"></i>
        </label>
        <label ngbButtonLabel class="btn btn-info">Today
          <input ngbButton type="radio" class="dateRange" name="dateRange" value="sm-view" id="option1"
            (click)="getall('Today')"><i class="feather icon-align-justify m-0"></i>
        </label>
        <label ngbButtonLabel class="btn btn-info">This Week
          <input ngbButton type="radio" class="dateRange" name="dateRange" value="md-view" id="option2"
            (click)="getall('This Week')"> <i class="feather icon-menu m-0"></i>
        </label>
        <label ngbButtonLabel class="btn btn-info">This Month
          <input ngbButton type="radio" class="dateRange" name="dateRange" value="large-view" id="option3"
            (click)="getall('This Month')"> <i class="feather icon-grid m-0"></i>
        </label>

        <!-- <label ngbButtonLabel class="btn btn-info">Custom Range
                    <input ngbButton type="radio" name="dateRange" value="large-view" id="option4"> <i class="feather icon-plus m-0"></i>
                </label> -->
      </div>
    </app-card>
  </div>
</div>
<div class="row" *ngIf="dashboarddata">
  <div class="col-md-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue text-white widget-visitor-card" blockClass="text-center">
      <h2 class="text-white">{{dashboarddata.today_pnr || "0"}}</h2>
      <h6 class="text-white">Total No Of PNR</h6>
      <i class="feather icon-file-text"></i>
    </app-card>

  </div>
  <div class="col-md-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green text-white widget-visitor-card" blockClass="text-center">
      <h2 class="text-white">{{dashboarddata.upcoming_pnr}}</h2>
      <h6 class="text-white">Upcoming PNR</h6>
      <i class="feather icon-file-text"></i>
    </app-card>
  </div>
  <div class="col-md-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue text-white widget-visitor-card" blockClass="text-center">
      <h2 class="text-white" *ngIf="dashboarddata.sales_data[0].today_amount !=null">
        {{dashboarddata.sales_data[0].today_amount | number : '1.2-2'}}</h2>
      <h2 class="text-white" *ngIf="dashboarddata.sales_data[0].today_amount ==null">0</h2>
      <h6 class="text-white">Sales</h6>
      <i class="feather icon-file-text"></i>
    </app-card>
  </div>
  <div class="col-md-3">
    <app-card [hidHeader]="true" cardClass="bg-c-red text-white widget-visitor-card" blockClass="text-center">
      <h2 class="text-white">{{dashboarddata.booking_profit[0].odbus_amount || "0"}}</h2>
      <h6 class="text-white">Commission from Odbus</h6>
      <i class="feather icon-award"></i>
    </app-card>

  </div>
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Top Routes Bookings" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>#</th>
              <th>ROUTES</th>
              <th>PNR</th>
              <th>PRICE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let route of routedata; let i = index">
              <td>{{i+1}}</td>
              <td>
                {{route.from_location[0].name}} - {{route.to_location[0].name}}
              </td>
              <td>{{route.pnr_count}} PNR</td>
              <td><i class="fas fa-rupee-sign"></i> {{route.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>