.textimonials-result {
    margin:110px 0 50px;
    padding: 0 20px 0 5px;
}
.textimoni-h2 {
    text-align: center;
    color: #072C6B;
    margin-bottom: 0px;
    font: normal 900 32px Cooper;
}
.textimoni-h1 {
    text-align: center;
    color: #072C6B;
    font: normal 900 52px Cooper;
}

.de-angu3{
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 30px 30px 10px;
    opacity: 1;
    border: 0 !important;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 37px;
    min-height: 350px;
}

.box p{
    -webkit-line-clamp:6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
}


.testimonials-clean .item {
    margin-bottom: 8px;
    display: inline-block;
    width: 100%;
}

.author {
    font-size: 20px;
    margin-bottom: 0;
}
.testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: 0px;
}
.testimonials-clean .item .star1 {
    max-width: 39px;
    float: left;
    margin-right: 2px;
    margin-top: -4px;
}

.testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: 0px;
}
.star1 {
    width: 12px;
    opacity: 1;
}
.heading-ser-tes {
    color: #072C6B;
    margin-bottom: 35px !important;
    padding-top: 25px !important;
    font-size: 20px;
    font-weight: 500 !important;
    text-align: center;
}
.description {
    color: #072C6B;
    font-size: 14px;
}
.testimonial-link{
    background-color: #EFC003;
    font-size: 16px;
    display: block;
    color: #002F80;
    margin: auto;
    padding: 6px 0;
    margin-top: 28px;
    text-align: center;
    border-radius: 5px;
    width: 15%;
}
.testi-padding-bottom{
    margin-top: 72px;
}
.re-name{
    text-align: center;
    color: #072C6B;
    font-size: 25px;}
.name{
    color: #072C6B;
    font-size: 18px;}
.place{
    color: #072C6B;
    font-size: 16px;
}
.box{margin-bottom:20px; min-height: 180px;}

ngb-rating.d-inline-flex {
    color: #efc317 !important;
  }
  span.ng-star-inserted {
    font-size: 21px !important;
  }

/* span.stars, span.stars span {
    display: block;
    background: url('../../assets/img/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
} */

.review-gicon{
    width:35px;
    position: absolute;
    right: 15px;
    top:15px;
}

.review-gicon img{
    width: 100%;
}

.de-angu3 h4{
    font-size:21px;
    font-weight: 600;
}

 /* Mobile Version Support Start- */
 .mobile-mybooking-top{
    background-color: #efc003;
    padding:12px 18px 14px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 10px #0003;
  }
  
  .mobile-mybooking-top .mob-arrow-left i{
    font-size:30px;
    color: #072c6b;
    margin-top:10px;
  }
  
  .mobile-mybooking-top .mob-list-center h5{
    color: #072c6b;
    font-size:20px;
    font-weight:800;
    text-align: left;
    padding-top:10px;
    padding-left:5px;
    margin-bottom: 4px;
  
  }
  
  .mobile-logo img{
    height:42px;
    float:right;
  }  
  .mobile-testimonials-middle{
     margin:88px 20px 30px
  }
  
  .mobile-testimonials-middle h4{
     font-size: 18px;
    color: #072c6b;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
  }
  
  .mobile-testimonials-middle .de-angu3{
      width: 100%;
      background: #fff 0 0 no-repeat padding-box;
      padding: 30px 30px 10px;
      opacity: 1;
      border: 0!important;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin-bottom: 12px;
      min-height: unset !important;
  }
  
  .mobile-testimonials-middle .review-gicon{
      width: 35px;
      position: absolute;
      right: 15px;
      top: 15px;
  }
  
  .mobile-testimonials-middle .review-gicon img{
      width: 100%;
  }
  
  .mobile-testimonials-middle .de-angu3 h4{
      font-size: 18px;
      font-weight: 600;
      text-align: left;
  }
  
  .mobile-testimonials-middle .box{
      margin-bottom: 20px;
      min-height: unset !important;
  }
  
  .mobile-testimonials-middle .box p{
      /* -webkit-line-clamp: 6; */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      display: -webkit-box;
      color: #323232;
      font-size: 16px;
      line-height:24px;
      font-weight:500;
  }
  
  .mobile-testimonials-middle .item{
      margin-bottom: 8px;
      display: inline-block;
      width: 100%;
  }
  
  .mobile-testimonials-middle .item img{
      max-width: 40px;
      float: left;
      margin-right: 12px;
      margin-top: 0;
  }
  
  .mobile-testimonials-middle .place{
      font-size: 16px;
  }
  
  .mobile-fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:99999;
  }
  .mobile-fixed-bottom .home{
    color: #323232;
  }
  
  .mobile-fixed-bottom .home i{
    font-size: 24px;
  }
  
  .mobile-fixed-bottom .active{
    color: #efc003;
  }
  
  .mobile-fixed-bottom .active p{
    color: #efc003 !important;
  }
  
  .mobile-fixed-bottom .home p{
    color: #323232;
    font-size:16px;
    font-weight: 600;
  }
  
  .mobile-bg-danger {
    background-color: #ffffff!important;
    padding-top:12px;
    padding-bottom: 8px;
    -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
   -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
   box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
  }
  
  .mob-mtbh{
    height: 80px;
  }

  /* Mobile Menu Section */

  .mobile-logo img{
    height:42px;
    float:right;
  } 
  
  .mobile-myaccount-top .mob-logintx a{
      float:right;
      font-size:17px;
      color: #072c6b;
      font-weight: 600;
      padding-top:8px ;
  }

  .mobile-myaccount-top{
    background-color: #efc003;
    padding:12px 18px 14px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 10px #0003;
  } 

  .mobile-myaccount-middle{
       margin:88px 20px 60px
   }

  .mobile-myaccount-middle .mobile-menu {
    width:100%; 
    list-style-type: none;
    padding-left: 0px; 
  }

  .mobile-myaccount-middle .mobile-menu a {
      background-color: #fff;
      display: block;   
      color: #072c6b;
      padding:8px 18px; 
      text-decoration: none; 
      font-size :17px;
      font-weight: 600;
      margin-bottom:10px;
      border-radius: 4px;
  }

  .mobile-myaccount-middle .mobile-menu a i{
    color: #efc003;
    margin-right: 8px;
  }  

 /* Mobile Menu Section */

 .mobile-logo img{
    height:42px;
    float:right;
 } 

.mobile-myaccount-top .mob-logintx a{
    float:right;
    font-size:17px;
    color: #072c6b;
    font-weight: 600;
    padding-top:8px ;
}

.mobile-myaccount-top{
  background-color: #efc003;
  padding:12px 18px 14px;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 10px #0003;
} 

.mobile-myaccount-middle{
     margin:88px 20px 60px
 }

.mobile-myaccount-middle .mobile-menu {
    width:100%; 
    list-style-type: none;
    padding-left: 0px; 
}

.mobile-myaccount-middle .mobile-menu a {
    background-color: #fff;
    display: block;   
    color: #072c6b;
    padding:8px 18px; 
    text-decoration: none; 
    font-size :17px;
    font-weight: 600;
    margin-bottom:10px;
    border-radius: 4px;
}

.mobile-myaccount-middle .mobile-menu a i{
  color: #efc003;
  margin-right: 8px;
}  