<ngx-spinner bdColor = "rgba(60,55,55,0.8)" size = "large" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Date Wise Route" cardClass="card-datatable" [options]="false" [isCardFooter]="false">
           

            <div class=" mb-3">
                <div class="row p-0">
                    <div class="col-12">
                        <form [formGroup]="searchFrom">
                            <div class="row">                                
                                <div class="col-3">
                                  <div class="row">  
                                      <div class="form-group col-12">
                                          <div class="form-group row">
                                              <input type="date" class="form-control sml_input" placeholder="Enter pnr"
                                              required formControlName="date" />
                                          </div> 
                                      </div>
                                  </div>
                              </div>                               
                                <div class="col-3">
                                    <div class="form-group dropdown ">
                                          <ng-select 
                                            [items]="locations"
                                            bindLabel="name"
                                            bindValue="name"
                                            placeholder="Select Source"                                       
                                            formControlName="source_id"
                                            [clearable]="false">
                                          </ng-select>                                                             
                                      </div> 
                                </div>                                       
                                <div class="col-3">
                                    <div class="form-group dropdown">
                                          <ng-select 
                                            [items]="locations"
                                            bindLabel="name"
                                            bindValue="name"
                                            placeholder="Select Destination"                                       
                                            formControlName="destination_id"
                                            [clearable]="false">
                                          </ng-select>      
                                      </div> 
                                </div>
                                <div class="col-2">
                                    <div class="dropdown ">
                                        <button type="button" class="btn btn-success  sml_input mr-10" (click)="search()" title="search">
                                            <i class="fas fa-search"> </i> Search
                                          </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive" id="print-section">
                <table  *ngIf="completedata?.length != 0" class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col" width="80px" style="text-align: center;">#</th>
                            <th scope="col">Bus Name / Number</th>
                            <th scope="col">Bus Details/ Sitting Type</th>
                            <th scope="col"> Seaters</th>
                            <th scope="col"> Sleepers</th>
                            <th scope="col">Via</th>
                            <th scope="col">Departure Time  >> Arrival Time</th>
                            <th scope="col">Status</th>
            
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let complete of completedata; let i = index">
                            <td style="text-align: center;">{{ i+1 }}</td>
                            <td>
                                <strong>{{complete.busName}}</strong><br> ( {{complete.busNumber}} )
                            </td>                           
                            <td>
                                 {{complete.bus_description}} <br>
                                 {{complete.sittingType}}
                            </td>                           
                            <td>
                                 {{complete.seaters}}
                            </td>                           
                            <td>
                                 {{complete.sleepers}}
                            </td>                           
                            <td>
                                 {{complete.via}}
                            </td>                           
                            <td>
                                 {{complete.departureTime}} >>  {{complete.arrivalTime}}<br>
                                 <small text- danger>duration -> </small> {{complete.totalJourneyTime}}
                            </td>                           
                            <td>
                                <span  class="text-danger" *ngIf="complete.display == 'hide'" style="font-size: 10px;"><b>TIME EXCEEDED</b></span> 

                                <span  class="text-primary"  disabled  *ngIf="complete.totalSeats == 0 && complete.display == 'show' "><b>SOLD OUT</b></span> 

                                <span class="text-info"
                                *ngIf="complete.totalSeats > 0 && complete.display  == 'show'"> <b>Seat Avalible</b></span>  

                                            
                            </td>                           
                        </tr>
                    </tbody>
                </table>
                <span *ngIf="completedata?.length == 0">
                        <h2 >Search Here to get the Bus List</h2>
                </span>
            </div>
        </app-card>
    </div>
</div>