<ng-template #Desktop>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>

    <!-- <section class="hero-banner"
        style="background-image: url({{bannerImage}}); background-size: cover; background-position: bottom !important;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="my-countdown" *ngIf="countdown_status==1" style="color:red">
                        <div class="countdown-container">

                            <div *ngIf="!isExpired" class="countdown-timer">
                                <b> {{countdown_title}} </b>
                                <span class="countdown-value" *ngIf="days > 0">{{ days }} Days </span>
                                <span class="countdown-value" *ngIf="hours > 0">{{ hours }} Hours </span>
                                <span class="countdown-value" *ngIf="minutes > 0">{{ minutes }} Minutes </span>
                                <span class="countdown-value">{{ seconds }} Seconds</span>
                            </div>

                            <div *ngIf="isExpired" class="countdown-expired">
                                Booking is open now ....
                            </div>

                        </div>


                    </div>

                    <div class="hero-banner-inner-text">
                        <h1 class="banner-text"> PLAN YOUR JOURNEY WITH <br />THE MOST TRUSTED & SAFEST ONLINE BUS
                            BOOKING PLATFORM</h1>
                    </div>
                </div>

                <div class="col-md-12 top-ban">
                    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
                        <div class="hero-banner-inner-srchbus">
                            <div class="row no-gutters">

                                <div class="col-md-10">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 pr-1">
                                            <label><b>From</b></label>
                                            <div class="input-group mb-3 d-block">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><img
                                                            src="assets/img/Icon-metro-location.svg"
                                                            alt="Icon-metro-location"></span>

                                                    <input autocomplete="off" id="from" type="text"
                                                        class="form-control pl-0" [ngbTypeahead]="search"
                                                        [resultTemplate]="rt" [inputFormatter]="formatter"
                                                        [ngModel]="swapsource" placeholder="Enter Source"
                                                        formControlName="source" (selectItem)="tabChange('to')" />

                                                    <ng-template #rt let-r="result" let-t="term">
                                                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                                    </ng-template>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1 to_dest_block">
                                            <label><b>To</b></label>
                                            <div class="swap-srch cursor">
                                                <img (click)="swap();" src="assets/img/swap.svg">
                                            </div>
                                            <div class="input-group mb-3 d-block">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text pl-3 pr-3" id="basic-addon2"><img
                                                            src="assets/img/Icon-metro-location.svg"></span>

                                                    <input autocomplete="off" id="to" type="text"
                                                        class="form-control pl-0" [ngbTypeahead]="search"
                                                        [resultTemplate]="rt2" [inputFormatter]="formatter"
                                                        [ngModel]="swapdestination" formControlName="destination"
                                                        placeholder="Enter Destination"
                                                        (selectItem)="tabChange('entryDate')" />

                                                    <ng-template #rt2 let-r="result" let-t="term">
                                                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                                    </ng-template>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 date_inp">
                                            <label><b>Date of Journey</b></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text calendar" id="basic-addon3"
                                                        (click)="d.toggle()"><img
                                                            src="assets/img/Icon-metro-calendar.svg"></span>
                                                </div>

                                                <input type="text" id="entryDate" autocomplete="off"
                                                    class="form-control calendar" formControlName="entry_date"
                                                    placeholder="Journey Date" [min]="dtconfig.minDate"
                                                    [max]="dtconfig.maxDate" ngbDatepicker (click)="d.toggle()"
                                                    #d="ngbDatepicker" readonly>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label style="opacity: 0;"><b>Search</b></label>
                                    <div class="bus_search">
                                        <button type="submit" class="btn">Search</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->

    <!-- New hero Section -->
    <!-- <section class="hero-banner-v5" [ngStyle]="{'background-image': 'url(' + bannerImage + ')'}"> -->
    <section class="hero-banner-v5" style="background-image: url('assets/img/odbus_new_banner.jpg');">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-left">
                        <img class="trust-badge" src="assets/img/trust_badge.png" alt="logo-ODBUS" title="" />
                        <h1>
                            Odisha’s No. 1 Online,<br>
                            Bus Ticket Booking Platform
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="container search-overlap">
            <form [formGroup]="searchForm" (ngSubmit)="submitForm()">

                <div class="search-box-v5">
                    <div class="row no-gutters align-items-end search-inner">

                        <!-- FROM -->
                        <div class="col-md-3 field from-field">
                            <label>From</label>
                            <div class="input-box">
                                <img src="assets/img/Icon-metro-location.svg" class="icon-from">
                                <input type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt"
                                    [resultFormatter]="formatter" [inputFormatter]="formatter" [(ngModel)]="swapsource"
                                    name="source" placeholder="Enter Source" />
                                <span class="clear-icon">✖</span>
                            </div>
                        </div>

                        <!-- TO -->
                        <div class="col-md-3 field to-field">
                            <label>To</label>

                            <div class="swap-center" (click)="swap()">
                                <img src="assets/img/swap.svg">
                            </div>

                            <div class="input-box">
                                <img src="assets/img/Icon-metro-location.svg" class="icon-to">
                                <input type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt2"
                                    [resultFormatter]="formatter" [inputFormatter]="formatter"
                                    [(ngModel)]="swapdestination" name="destination" placeholder="Enter Destination" />
                                <span class="clear-icon">✖</span>

                            </div>
                        </div>

                        <!-- DATE -->
                        <!-- <div class="col-md-4 field date-field">
                            <label>Date of Journey</label>
                            <div class="input-box date-box">
                                <img src="assets/img/Icon-metro-calendar.svg" class="icon-date">

                                <input type="text" class="form-control" formControlName="entry_date" ngbDatepicker
                                    #d="ngbDatepicker" (click)="d.toggle()" placeholder="Journey Date" readonly />

                                <div class="date-btns">
                                    <span (click)="setToday()">Today</span>
                                    <span (click)="setTomorrow()">Tomorrow</span>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-4 field date-field">
                            <label>Date of Journey</label>

                            <div class="date-wrapper">

                                <!-- Journey Date Box -->
                                <div class="input-box date-box">
                                    <img src="assets/img/Icon-metro-calendar.svg" class="icon-date">

                                    <input type="text" class="form-control" formControlName="entry_date" ngbDatepicker
                                        #d="ngbDatepicker" (click)="d.toggle()" placeholder="Journey Date" readonly />
                                </div>

                                <!-- Today Box -->
                                <div class="quick-date-today" (click)="setToday()">
                                    Today
                                </div>

                                <!-- Tomorrow Box -->
                                <div class="quick-date-tomorrow" (click)="setTomorrow()">
                                    Tomorrow
                                </div>

                            </div>
                        </div>

                        <!-- BUTTON -->
                        <div class="col-md-2 field search-btn-wrap">
                            <button type="submit" class="btn search-btn-v5">
                                Search
                            </button>
                        </div>

                    </div>
                </div>

            </form>
        </div>

    </section>
    <!-- New hero Section ended -->

    <!-- new recent searches -->
    <section class="recent-search-section">
        <div class="container">

            <h4 class="recent-title">
                <span class="line"></span> Recent Searches
            </h4>

            <div class="recent-wrapper">

                <!-- ITEM -->
                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>New York → Boston</h5>
                        <p>Mon 6 April 2026</p>
                    </div>
                </div>

                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>New York → Boston</h5>
                        <p>Mon 6 April 2026</p>
                    </div>
                </div>

                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>Bangalore → Chennai</h5>
                        <p>Mon 8 April 2026</p>
                    </div>
                </div>

                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>Kolkata → Bhubaneswar</h5>
                        <p>Mon 9 April 2026</p>
                    </div>
                </div>

                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>Bhubaneswar → Rourkela</h5>
                        <p>Mon 9 April 2026</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- new recent searches ended -->

    <!-- Offer Section -->
        <section class="section-offer carousel-home fluid-15" *ngIf="Offers.length>0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-offer-left">
                            <h2>ODBUS OFFERS</h2>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                            <!-- <li class="nav-item cursor" role="presentation"  (click)="getOffer('Bus Offers')">
                        <a class="nav-link {{ (activeTab=='Bus Offers') ? 'active' : '' }} " id="home-tab" data-toggle="tab"  role="tab"
                            aria-controls="home" aria-selected="true">Bus Offers</a>
                    </li>
                    <li class="nav-item cursor" role="presentation"  (click)="getOffer('Festive Offers')">
                        <a class="nav-link {{ (activeTab=='Festive Offers') ? 'active' : '' }}" id="profile-tab" data-toggle="tab" role="tab"
                            aria-controls="profile" aria-selected="false">Festive Offers</a>
                    </li> -->
                            <li class="nav-item cursor" role="presentation">
                                <a class="nav-link" id="messages-tab" data-toggle="tab" routerLink="offers" role="tab"
                                    aria-controls="messages" aria-selected="false">View All</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-12 section-offer-right-tab mt-4">

                        <carousel [cellsToShow]="3" [loop]="true" [autoplay]="false" [autoplayInterval]="2000"
                            [images]="offerList">
                        </carousel>
                    </div>
                </div>
            </div>
        </section>
    <!-- Section About -->

    <!-- <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 about-img">
                    <img src="assets/img/bus-stop.png">
                </div>
                <div class="col-md-6">
                    <div class="section-about-right">
                        <h3>About Us</h3>
                        <p *ngIf="masterSettingRecord.common">{{master_info.operator_home_content}}</p>
                        <a routerLink="about-us" class="border-btn bh mt-3">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

   

    <!-- The Odbus Advanteges End -->

    <!-- Growing section -->

    <section class="section-growing fluid-15 bg-white">
        <div class="container">
            <h4>The Numbers are Growing</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="section-growing-box">
                        <div class="grow-img"><img src="assets/img/routs.png"></div>
                        <h3>2500+</h3>
                        <p>Routes</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="section-growing-box">
                        <div class="grow-img"><img src="assets/img/buses.png"></div>
                        <h3>2200+</h3>
                        <p>Buses</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="section-growing-box">
                        <div class="grow-img"><img src="assets/img/sat-cust.png"></div>
                        <h3>10+ Lakhs</h3>
                        <p>Satisfied Customers</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="section-growing-box">
                        <div class="grow-img"><img src="assets/img/support.png"></div>
                        <h3>24/7</h3>
                        <p>Customer Service</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- <section class="app fluid-15">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="app-left">
                        <h3 class="title-section">Drive yourself <br />through the mobile</h3>
                        <img src="assets/img/app-down.png">
                        <p>Get SMS with link to download ODBUS App</p>
                    </div>
                    <form [formGroup]="appForm" (ngSubmit)="submitAppForm()">




                        <div class="row">
                            <div class="col-md-6 pr-0">
                                <input type="text" (keydown)="onlyNumbers($event);" maxlength="10" class="form-control"
                                    formControlName="phone" id="phone" placeholder="Enter Mobile No." />

                                <div *ngIf="appsubmitted && f.phone.errors" class="invalid-feedback">
                                    <div class="log-left" *ngIf="f.phone.errors.required">Mobile no. is required</div>
                                    <div class="log-left" *ngIf="f.phone.errors.pattern">Enter 10 digit Mobile Number
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-0">
                                <button type="submit" class="btn">Get Link</button>
                            </div>
                        </div>



                        <div class="row">
                            <ngb-alert *ngIf="setAlert!=''">
                                {{ setAlert }}
                            </ngb-alert>
                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <div class="app-right">
                        <img src="assets/img/app-bg.png">
                    </div>

                </div>
            </div>

        </div>
    </section> -->

    <!-- new download section -->

  



</ng-template>


<ng-template #Mobile>

    <ng-container *ngIf="!MenuActive">

        <div class="mobile-search-box">
            <div class="row">
                <div class="col-7">
                    <h3>Book Bus Tickets</h3>
                </div>
                <div class="col-5">
                    <div class="mobile-logo">
                        <img src="assets/img/mob-img/logo.png" />
                    </div>
                </div>
            </div>
            <div class="mobile-white-box shadow-sm">
                <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
                    <div class="row">
                        <div class="col-1 p-0">
                            <img src="assets/img/Icon metro-location (1).svg" class="img1"><br>
                            <img src="assets/img/Line 11.svg" class="img2"> <br>
                            <img src="assets/img/Icon metro-location (1).svg" class="img3">
                        </div>
                        <div class="col-9 p-2">
                            <div class="form-group border-bottom">
                                <label class="mb-2">From</label><br>
                                <input autocomplete="off" id="from" type="text" class="" [ngbTypeahead]="search"
                                    [resultTemplate]="rt" [inputFormatter]="formatter" [ngModel]="swapsource"
                                    placeholder="Enter Source" formControlName="source"
                                    (selectItem)="tabChange('to')" />
                                <ng-template #rt let-r="result" let-t="term">
                                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>
                            </div>
                            <div class="form-group border-bottom">
                                <label class="mb-2">To</label><br>
                                <input autocomplete="off" id="to" type="text" class="" [ngbTypeahead]="search"
                                    [resultTemplate]="rt2" [inputFormatter]="formatter" [ngModel]="swapdestination"
                                    formControlName="destination" placeholder="Enter Destination" />
                                <ng-template #rt2 let-r="result" let-t="term">
                                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>
                            </div>
                            <!-- <div class="form-group border-bottom">
                            <label class="mb-2">Date of Journey</label><br>
                            <input type="text" placeholder="Journey Date" />
                        </div> -->
                        </div>
                        <div class="col-2 p-1"><img (click)="swap();" src="assets/img/mob-img/swap.png" class="img4">
                        </div>
                    </div>
                    <div class="row mobile-date-box pl-2">
                        <div class="col-1 p-0"></div>
                        <input [(ngModel)]="dtconfig.minDate" style="display:none" formControlName="entry_date">

                        <div class="col-9 pb-3 pl-0 pr-2" (click)="OpenCalendar(calendar)">
                            <div class="mob-dt-big">
                                Departure Date<br />
                                <i class="far fa-calendar-alt"></i> {{ selectedDate | date:'EEE, d MMMM , y'}}
                            </div>
                        </div>
                        <div class="col-2 p-1"></div>
                    </div>
                    <div class="row pl-2">
                        <div class="col-1 p-0"></div>
                        <div class="col-9 pb-3 pl-0 pr-2">
                            <div class="mob-bus_search">
                                <button type="submit" class="btn mob-bt shadow-sm">Search Buses</button>
                            </div>
                        </div>
                        <div class="col-2 p-1"></div>
                    </div>
                </form>
            </div>
        </div>

         <section class="recent-search-section">
        <div class="container">

            <h4 class="recent-title">
                <span class="line"></span> Recent Searches
            </h4>

            <div class="recent-wrapper">

                <!-- ITEM -->
                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>New York → Boston</h5>
                        <p>Mon 6 April 2026</p>
                    </div>
                </div>

                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>New York → Boston</h5>
                        <p>Mon 6 April 2026</p>
                    </div>
                </div>

                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>Bangalore → Chennai</h5>
                        <p>Mon 8 April 2026</p>
                    </div>
                </div>

                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>Kolkata → Bhubaneswar</h5>
                        <p>Mon 9 April 2026</p>
                    </div>
                </div>

                <div class="recent-card">
                    <div class="recent-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    <div class="recent-text">
                        <h5>Bhubaneswar → Rourkela</h5>
                        <p>Mon 9 April 2026</p>
                    </div>
                </div>
            </div>

        </div>
    </section>



        <div class="p-3 mobile-recent-searches">
            <h6 class="text-left" *ngIf="recentSearchFrom!=null && recentSearchTo!=null && recentSearchDt !=null"><i
                    class="fas fa-search"></i> Recent Searches</h6>
            <h6 class="text-left" *ngIf="recentSearchFrom==null && recentSearchTo==null && recentSearchDt ==null"><i
                    class="fas fa-search"></i>No Recent Searches ...</h6>
            <div class="row m-0" (click)="bookAgain()">
                <div class="col-12 pl-1 pr-1">
                    <div class="mob-res shadow-sm"
                        *ngIf="recentSearchFrom!=null && recentSearchTo!=null && recentSearchDt !=null">
                        <div class="mob-res-left">
                            <span>{{recentSearchFrom}}</span><br />
                            <i class="fas fa-long-arrow-alt-down"></i><br />
                            <span>{{recentSearchTo}}</span>
                        </div>
                        <div class="mob-res-right">
                            <span>{{recentSearchDt | date:'EEE' }}</span>
                            <br />
                            <span>{{recentSearchDt | date:'d MMM,y' }}</span>

                            <div class="bn" (click)="bookAgain()">Book Now</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>




        <div class="p-3 mobile-discount">
            <div class="row m-0 ">
                <div class="col-7 pl-1 text-left">
                    <h6 class="mb-0">ODBUS Offers</h6>
                </div>
                <div class="col-5 pr-1 off-text"> <a class="text-right" id="messages-tab" data-toggle="tab"
                        routerLink="offers" role="tab" aria-controls="messages" aria-selected="false">View All Offer</a>
                </div>
            </div>
            <div class="row m-0">

                <div class="col-12 pl-1 pr-1 section-offer-right-tab mt-1">

                    <carousel [cellsToShow]="1" [loop]="true" [autoplay]="false" [arrows]="false"
                        [autoplayInterval]="2000" [images]="offerList" style="height: 160px;">
                    </carousel>

                    <!-- <carousel [cellsToShow]="1" [autoplay]="true" [dots]="true" [arrows]="false" [arrowsTheme]="dark" style="height: 170px;" [images]="offerList"> 
                </carousel>          -->
                </div>

            </div>
        </div>



    </ng-container>


    <!-- Bus Seat Layout Start-->



    <!-- Bus Seat Layout End-->


    <ng-template #calendar let-modal>

        <div class="cal-modal-mobile">
            <div class="modal-body">
                <ngb-datepicker #dp [(ngModel)]="model" [min]="dtconfig.minDate" [max]="dtconfig.maxDate"
                    (dateSelect)="onDateSelect($event)"></ngb-datepicker>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>

    </ng-template>

    <ng-container *ngIf="MenuActive">


        <div class="mobile-myaccount-top">
            <div class="row">
                <div class="col-5">
                    <div class="mobile-logo">
                        <img src="assets/img/mob-img/logo.png" />
                    </div>
                </div>
                <div class="col-7 mob-logintx">
                    <a routerLink="login" *ngIf="! session.isLoggedIn()"> Login / Signup </a>
                    <a routerLink="dashboard" *ngIf="session.isLoggedIn()"> Dashboard </a>
                </div>
            </div>
        </div>



        <div class="mobile-myaccount-middle">
            <ul class="mobile-menu">
                <li><a routerLink="manage-booking"><i class="far fa-window-restore"></i> Manage Booking</a></li>
                <li><a routerLink="offers"><i class="fas fa-gifts"></i> Offers</a></li>
                <li><a routerLink="operators"><i class="fas fa-bus"></i> Operators</a></li>
                <li><a routerLink="routes"><i class="fas fa-map-marker-alt"></i> Routes</a></li>
                <li><a routerLink="faq"><i class="fas fa-question"></i> FAQ's</a></li>
                <li><a routerLink="testimonials"><i class="fa fa-star"></i> Testimonials</a></li>
                <li><a routerLink="terms-conditions"><i class="fas fa-file-image"></i> Terms & Conditions</a></li>
                <li><a routerLink="privacy-policy"><i class="far fa-file-powerpoint"></i> Privacy Policy</a></li>
                <li><a routerLink="about-us"><i class="fas fa-info-circle"></i> About Us</a></li>
            </ul>
        </div>

    </ng-container>

    <!-- APP DOWNLOAD POPUP -->
    <div class="app-popup-overlay" *ngIf="showAppPopup">

        <div class="popup-backdrop" (click)="closeAppPopup()"></div>

        <div class="app-popup">
            <div class="popup-handle"></div>
            <div class="popup-content text-center">
                <h4>🚀 Get Better Experience</h4>
                <p>Download ODBUS App for faster booking & offers</p>

                <img src="assets/img/booking.png" class="popup-img" />
                <!-- <img src="assets/img/booking_2.png" class="popup-img" /> -->

                <a href="https://play.google.com/store/apps/details?id=com.od.odbus&hl=en" target="_blank"
                    class="popup-btn">
                    Download App
                </a>

                <div class="popup-close" (click)="closeAppPopup()">Not now</div>
            </div>
        </div>

    </div>
    <!-- APP DOWNLOAD POPUP END -->

    <div class="mob-mtbh"></div>
    <div class="mobile-fixed-bottom">
        <div class="footer-menu row m-0 mobile-bg-danger">
            <div class="col-3 p-0 text-center">
                <a routerLink="/" class="home active">
                    <i class="fas fa-home"></i>
                    <p class="mb-0 small">Home</p>
                </a>
            </div>
            <div class="col-3 p-0 text-center">
                <a routerLink="/dashboard" class="home">
                    <i class="fas fa-ticket-alt"></i>
                    <p class="mb-0 small">My Bookings</p>
                </a>
            </div>


            <div class="col-3 p-0 text-center" *ngIf="! session.isLoggedIn()">
                <a routerLink="/login" class="home">
                    <i class="fas fa-user"></i>
                    <p class="mb-0 small">Login</p>
                </a>
            </div>


            <div class="col-3 p-0 text-center" *ngIf="session.isLoggedIn()">
                <a routerLink="/myaccount" class="home">
                    <i class="fas fa-user"></i>
                    <p class="mb-0 small">My Account</p>
                </a>
            </div>

            <div class="col-3 p-0 text-center">
                <a (click)="menu()" class="home {{activeMenu}}">
                    <i class="fas fa-bars"></i>
                    <p class="mb-0 small">Menu</p>
                </a>
            </div>


        </div>
    </div>
    <img src="../../assets/img/ODBUSLucky Draw_Popup_image.jpg">

    <!--  footer END -->

</ng-template>


<ng-template #popup let-modal>

    <div class="filter-mobile-modal">

        <div class="modal-body">
            <button type="button" class="close close-mob" aria-label="Close" (click)="modal.dismiss('Cross Click')">
                <span aria-hidden="true">&times;</span>
            </button>

            <p *ngIf="popupData.common.popup_heading && popupData.common.popup_heading !='null'"
                style="font-weight: bold;color:red;">{{popupData.common.popup_heading}}</p>

            <img *ngIf="popupData.common.popup_image && popupData.common.popup_image !='null'"
                src="{{popupData.common.popup_image}}" width="100%">

            <p *ngIf="popupData.common.popup_description && popupData.common.popup_description !='null'">
                {{popupData.common.popup_description}}</p>

            <a style="text-align: right;" target="_blank"
                *ngIf="popupData.common.popup_url && popupData.common.popup_url !='null'" class="btn btn-primary"
                href="{{popupData.common.popup_url}}">Click Here</a>

        </div>
    </div>
</ng-template>

<ng-container *ngIf="isMobile; then Mobile; else Desktop">
</ng-container>
 <!-- The Odbus Advantages -->
    <section class="whats-new-section">
        <div class="container">

            <h2 class="section-title">THE ODBUS ADVANTAGE</h2>

            <div class="slider-wrapper">

                <!-- LEFT -->
                <button class="slide-btn prev-btn" (click)="moveSlider(-1)">
                    <i class="fa fa-angle-left"></i>
                </button>

                <!-- Cards Row -->
                <div class="cards-scroll" id="cardsScroll">

                    <!-- Card 1 -->
                    <div class="news-card pink">
                        <div class="card-left">
                            <h3>Instant Booking</h3>
                            <p>Book in seconds. Just 3 steps.
                                Fast. Smooth. Hassle-free.</p>
                            <a href="#">Know More →</a>
                        </div>
                        <div class="card-right">
                            <img src="assets/img/Instant_booking.png">
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="news-card red">
                        <div class="card-left">
                            <h3>Assured Seats</h3>
                            <p>Seats you can भरोसा on
                                99.99% seat confirmation</p>
                            <a href="#">Know More →</a>
                        </div>
                        <div class="card-right">
                            <img src="assets/img/assured.png">
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="news-card blue">
                        <div class="card-left">
                            <h3>Instant Trip Details</h3>
                            <p>No waiting. No uncertainty.
                                Get ticket details instantly.</p>
                            <a href="#">Know More →</a>
                        </div>
                        <div class="card-right">
                            <img src="assets/img/trip_details.png">
                        </div>
                    </div>

                    <!-- Card 4 -->
                    <div class="news-card cream">
                        <div class="card-left">
                            <h3>24×7 Support</h3>
                            <p>Always on. Always ready
                                Call us anytime.
                                We're here for you.</p>
                            <a href="#">Know More →</a>
                        </div>
                        <div class="card-right">
                            <img src="assets/img/support_247.png">
                        </div>
                    </div>

                    <!-- Card 5 -->
                    <div class="news-card yellow">
                        <div class="card-left">
                            <h3>Fast Refunds</h3>
                            <p>Refunds initiated instantly
                                Credited in hours to days <br>
                                Quick. Transparent. Reliable.</p>
                            <a href="#">Know More →</a>
                        </div>
                        <div class="card-right">
                            <img src="assets/img/wallet.png">
                        </div>
                    </div>

                    <!-- Card 6 -->
                    <div class="news-card last">
                        <div class="card-left">
                            <h3>Odisha's Largest Network</h3>
                            <p>Unmatched routes & coverage
                                Maximum buses across Odisha
                                Travel anywhere with ease.</p>
                            <a href="#">Know More →</a>
                        </div>
                        <div class="card-right">
                            <img src="assets/img/rout_network.png">
                        </div>
                    </div>

                </div>

                <!-- RIGHT -->
                <button class="slide-btn next-btn" (click)="moveSlider(1)">
                    <i class="fa fa-angle-right"></i>
                </button>

            </div>
        </div>
    </section>
      <section class="download-app-new">
        <div class="container">
            <div class="row align-items-center">

                <!-- LEFT 4 COL -->
                <div class="col-md-4">
                    <div class="app-image">
                        <img src="assets/img/download_mob.png" alt="App Download">
                    </div>
                </div>

                <!-- CENTER 4 COL -->
                <div class="col-md-4">
                    <div class="app-content">
                        <h2>
                            Book faster.
                            Travel smarter<br>
                            with the <span>ODBUS APP</span>
                        </h2>

                        <ul>
                            <li><i class="fa fa-bolt"></i> Fast Booking</li>
                            <li><i class="fa fa-check-circle"></i> Reliable Seats</li>
                            <li><i class="fa fa-smile-o"></i> Zero Stress</li>
                        </ul>
                    </div>
                </div>

                <!-- RIGHT 4 COL -->
                <div class="col-md-4">
                    <div class="qr-card">
                        <h3>Download<br>Our APP</h3>

                        <img src="assets/img/qrcode_download_app.png" class="qr-img" alt="QR Code">

                        <img src="assets/img/app-down.png" class="play-btn" alt="Play Store">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- new download section end -->

    <section class="why-us fluid-15">
        <div class="container">
            <h3 class="title-section">why ride with odbus?</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="why-us-box services">
                        <div class="why-img"><img src="assets/img/open-24-hours.svg">
                        </div>
                        <h3>services</h3>
                        <p>We offer the best in class facilities and services for a happy journey</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="why-us-box secure">
                        <div class="why-img"><img src="assets/img/surface1.svg">
                        </div>
                        <h3>secure</h3>
                        <p>High standard safety measures and customer friendly staffs</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="why-us-box friendly">
                        <div class="why-img"><img src="assets/img/pocket-friendly.svg">
                        </div>
                        <h3>pocket friendly</h3>
                        <p>Affordable rates to suit every pocket</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="why-us-box exciting">
                        <div class="why-img"><img src="assets/img/gift-box.svg">
                        </div>
                        <h3>exciting offers</h3>
                        <p>We offer unmatched discounts to make your journey more economical</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ Section -->

    <section class="faq-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h3 class="title-section">FAQs related to Bus Tickets Booking</h3>
                </div>
            </div>

            <!-- Tabs -->
            <ul class="faq-tabs nav nav-tabs" role="tablist">
                <li class="active"><a href="#" data-toggle="tab">General</a></li>
                <li><a href="#" data-toggle="tab">Ticket-related</a></li>
                <li><a href="#" data-toggle="tab">Payment</a></li>
                <li><a href="#" data-toggle="tab">Cancellation & Refund</a></li>
            </ul>

            <div class="tab-content">

                <!-- General -->
                <div class="tab-pane fade in active" id="general">

                    <div class="faq-item active">
                        <div class="faq-question">
                            Can I track the location of my booked bus online?
                            <span class="faq-icon"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="faq-answer" style="display:block;">
                            Yes, you can track your bus online by using our bus tracking app feature called
                            "Track My Bus". This feature allows passengers and their families to track the live
                            bus location and ensure safety.
                        </div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            What are the advantages of bus ticket booking with Odbus?
                            <span class="faq-icon"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="faq-answer">
                            Easy booking, secure payments, offers, and live tracking.
                        </div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            Why book bus tickets online on Odbus?
                            <span class="faq-icon"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="faq-answer">
                            Faster booking experience with multiple operators and routes.
                        </div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            Do I need to create an account to book?
                            <span class="faq-icon"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="faq-answer">
                            No, guest booking can also be available.
                        </div>
                    </div>

                </div>

                <!-- Ticket -->
                <div class="tab-pane fade" id="ticket">
                    <div class="faq-item active">
                        <div class="faq-question">
                            How do I download my ticket?
                            <span class="faq-icon"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="faq-answer" style="display:block;">
                            Ticket will be sent to your email and mobile after booking.
                        </div>
                    </div>
                </div>

                <!-- Payment -->
                <div class="tab-pane fade" id="payment">
                    <div class="faq-item active">
                        <div class="faq-question">
                            What payment methods are accepted?
                            <span class="faq-icon"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="faq-answer" style="display:block;">
                            UPI, Debit Card, Credit Card, Net Banking and Wallets.
                        </div>
                    </div>
                </div>

                <!-- Refund -->
                <div class="tab-pane fade" id="refund">
                    <div class="faq-item active">
                        <div class="faq-question">
                            How long does refund take?
                            <span class="faq-icon"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="faq-answer" style="display:block;">
                            Usually within 5-7 business days.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- FAQ Section End -->

    <!-- ===============================
 ODBUS CONTENT SECTION
================================ -->
    <section class="odbus-info-section">
        <div class="container">

            <!-- ROW 1 -->
            <div class="row align-items-center info-row">

                <!-- IMAGE LEFT 4 -->
                <div class="col-md-4">
                    <div class="info-img left-img">
                        <img src="assets/img/smart_travel.png" alt="Book Bus Ticket">
                    </div>
                </div>

                <!-- CONTENT RIGHT 8 -->
                <div class="col-md-8">
                    <div class="info-content">
                        <h2>ODBUS: Smart Bus Ticket Booking Platform for Odisha & Beyond</h2>

                        <p>
                            ODBUS is a fast-growing online bus ticket booking platform designed to simplify travel
                            across Odisha and nearby regions. With a wide network of private and government bus
                            operators,
                            ODBUS helps travellers discover the best routes, compare fares, and book tickets seamlessly.
                        </p>

                        <p>
                            Whether you're planning a short trip between cities or a long-distance journey,
                            ODBUS ensures a reliable and hassle-free booking experience with real-time availability,
                            transparent pricing, and easy seat selection.
                        </p>

                        <p>
                            With extensive route coverage and trusted operator partnerships, ODBUS is committed
                            to making bus travel more accessible, affordable, and convenient for everyone.
                        </p>
                    </div>
                </div>

            </div>


            <!-- ROW 2 -->
            <div class="row align-items-center info-row reverse-row">

                <!-- CONTENT LEFT 8 -->
                <div class="col-md-8">
                    <div class="info-content">
                        <h2>Why Choose ODBUS for Bus Booking?</h2>
                        <p>Here’s what makes ODBUS a preferred choice for bus ticket booking:</p>

                        <ul>
                            <li><strong>Easy & Fast Booking</strong> – Book your bus tickets in just a few clicks with a
                                simple and user-friendly interface designed for all travellers.</li>
                            <li><strong>Wide Route Coverage</strong> – Explore hundreds of routes across Odisha and
                                neighbouring states with multiple boarding and dropping points.
                            </li>
                            <li><strong>Multiple Bus Options</strong> – Choose from AC, Non-AC, Sleeper, Seater, and
                                luxury buses based on your comfort and budget.</li>
                            <li><strong>Best Price Assurance</strong> – Compare ticket prices across operators and book
                                at competitive fares without hidden charges.</li>
                            <li><strong>Secure Payments</strong> – Make safe and secure payments using UPI, debit/credit
                                cards, net banking, and wallets.</li>
                            <li><strong>Real-Time Availability</strong> – Get up-to-date seat availability and instant
                                booking confirmation.</li>
                            <li><strong>Customer Support</strong> – Access dedicated support for booking assistance,
                                cancellations, and travel-related queries.</li>
                        </ul>
                    </div>
                </div>

                <!-- IMAGE RIGHT 4 -->
                <div class="col-md-4">
                    <div class="info-img right-img">
                        <img src="assets/img/badge.png" alt="Why Choose ODBUS">
                    </div>
                </div>

            </div>


            <!-- ROW 3 -->
            <div class="row align-items-center info-row">

                <!-- IMAGE LEFT -->
                <div class="col-md-4">
                    <div class="info-img left-img">
                        <img src="assets/img/ticket.png" alt="How to Book">
                    </div>
                </div>

                <!-- CONTENT RIGHT -->
                <div class="col-md-8">
                    <div class="info-content">
                        <h2>How to Book Bus Tickets Online on ODBUS?</h2>
                        <p>Follow these simple steps to book your bus tickets:</p>

                        <ul>
                            <li>Visit the ODBUS website or mobile app.</li>
                            <li>Enter source and destination cities.</li>
                            <li>Select journey date.</li>
                            <li>Browse available buses for your route.</li>
                            <li>Choose your preferred bus, seat, and boarding point.</li>
                            <li>Enter passenger details.</li>
                            <li>Complete the payment using your preferred method.</li>
                            <li>Receive instant booking confirmation via SMS, WhatsApp or email.</li>
                        </ul>
                    </div>
                </div>

            </div>


            <!-- ROW 4 -->
            <div class="row align-items-center info-row reverse-row">

                <!-- CONTENT LEFT -->
                <div class="col-md-8">
                    <div class="info-content">
                        <h2>Exclusive Offers & Discounts</h2>

                        <p>
                            ODBUS regularly provides special deals and seasonal offers on bus bookings. Users can:
                        </p>

                        <ul>
                            <li>Apply coupon codes during checkout</li>
                            <li>Avail festival & seasonal discounts</li>
                            <li>Access limited-time promotional fares</li>
                        </ul>

                        <p>
                            Keep checking for the latest offers to save more on your travel.
                        </p>
                    </div>
                </div>

                <!-- IMAGE RIGHT -->
                <div class="col-md-4">
                    <div class="info-img right-img">
                        <img src="assets/img/gift.png" alt="Offers">
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- ===============================
 ODBUS CONTENT SECTION END
================================ -->

    <section class="top-operators fluid-15" *ngIf="topOperators && topOperators.length > 0 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h3 class="title-section">Top Operators</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a routerLink="operators" class="border-btn bh">All Operators</a>
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <ul>
                <li class="text-left" *ngFor="let t of topOperators;">
                    <a href="javascript:void(0);" (click)="operator_detail(t.operator_url);"> <img
                            src="assets/img/icon-bus-alt.svg">{{ t.organisation_name}}</a>
                </li>

            </ul>
        </div> -->
        <div class="container">
            <div class="row operator-card-row">

                <div class="col-md-3" *ngFor="let t of topOperators;">
                    <div class="operator-card small-card" (click)="operator_detail(t.operator_url)">

                        <div class="card-content">

                            <div class="icon-wrap">
                                <img src="assets/img/icon-bus-alt.svg">
                            </div>

                            <div class="operator-name">
                                {{ t.organisation_name }}
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="blog" *ngIf="bloglist != ''">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title-section">Blogs & Articles</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a routerLink="blog" class="btn btn-warning">View All</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="blog-subtitle">Discover the latest news, tips, and insights on bus travel and ticket
                        booking with ODBUS. Stay informed and make the most of your bus travel experience.</p>
                </div>
            </div>

            <div class="row blog-cards">

                <!-- CARD 1 -->
                <div class="col-md-4" *ngFor="let blog of bloglist">
                    <div class="blog-card">

                        <div class="blog-img">
                            <img [src]="baseurl + blog.thumb_image " class="img-responsive">
                            <span class="blog-tag">{{ blog.category_name }}</span>
                        </div>

                        <div class="blog-content">
                            <p class="blog-meta">
                                {{ blog.author }} | {{ blog.created_at | date:'dd MMM yyyy' }}
                            </p>

                            <h4 class="blog-title">
                                {{ blog.title }}
                            </h4>
                        </div>
                        <a [routerLink]="['/blog', blog.slug]" class="stretched-link"></a>
                    </div>
                </div>

            </div>
        </div>
    </section>