<section class="section-growing fluid-15 bg-white">
  <div class="container">
    <h4>The Numbers are Growing</h4>
    <div class="row">
      <div class="col-md-3">
        <div class="section-growing-box">
          <div class="grow-img"><img src="assets/img/routs.png" /></div>
          <h3>2500+</h3>
          <p>Routes</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="section-growing-box">
          <div class="grow-img"><img src="assets/img/buses.png" /></div>
          <h3>2200+</h3>
          <p>Buses</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="section-growing-box">
          <div class="grow-img"><img src="assets/img/sat-cust.png" /></div>
          <h3>10+ Lakhs</h3>
          <p>Satisfied Customers</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="section-growing-box">
          <div class="grow-img"><img src="assets/img/support.png" /></div>
          <h3>24/7</h3>
          <p>Customer Service</p>
        </div>
      </div>
    </div>
  </div>
</section>
