<ng-template #Mobile >

	<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > {{loadingText}}  </p></ngx-spinner>

<ngx-spinner name="mySpinner" template= '<img src="../../assets/img/loader.gif" style="width:100px">' >
	<p style="color: white;font-weight: bold;font-size:20px;margin-top: 50%; margin-left: 28%;" > Order Processing </p>
		<p style="color: white;font-weight: bold;" >		
		    Please wait and do not press BACK Or REFRESH Button.<br>
			Please be patient while your transaction is being processed.....
		</p>
	</ngx-spinner>

	<countdown #countdown [config]="{leftTime: Timer ,demand: true, format: 'mm:ss' }" (event)="handleEvent($event)" style="display: none;"></countdown>


<ng-container *ngIf="bookingStep2==false && bookingStep3==false && !MenuActive" >

		
<div class="mobile-booking-top">
    <div class="row">
        <div class="col-1 pr-0 pl-2 mob-arrow-left" (click)="getBack()">
			<i class="fas fa-arrow-left"></i></div>
        <div class="col-9 pl-2 pr-2 mob-list-center">
            <h5>{{ busRecord.busName }}</h5>
            <span class="wh10">{{ source }}</span> <i class="fas fa-long-arrow-alt-right"></i> <span class="wh10">{{ destination }}</span> <br/>
            <span class="wh10">{{ entdate | date:'EEE, d MMMM , y' }}</span>
           
        </div>        
    </div>
</div>

	<!-- Bookibg Step 1 -->
<form [formGroup]="bookForm1" (ngSubmit)="submitForm1()">

	

	<div class="mobile-booking-middle">

		<b style="color:red" *ngIf="notice!=''">{{notice}}</b>

		<h3 class="mb-1">Contact Information</h3>
		<p class="pt-0 mb-2">Your Booking will be sent to your Email Id & Mob No</p>
		<div class="mobile-contact-infbox shadow">
			<div class="row" formGroupName="customerInfo">
				<div class="col-12">
	
					<div class="form-group">
						<input  type="text"  class="" [readonly]="isnameReadOnly" formControlName="name" placeholder="Enter Your Name"  />
	
						<div *ngIf="submitted1 && GetcustomerInfo.controls.name.errors" class="invalid-feedback">
							<div *ngIf="GetcustomerInfo.controls.name.errors.required">Name required</div>
							<div *ngIf="GetcustomerInfo.controls.name.errors.pattern">Alphabets only</div>

						</div>
	
				   </div>
	
					<div class="form-group">
						<input type="text" class="" [readonly]="ismailReadOnly" formControlName="email"  placeholder="Enter Email ID" autocomplete="off"/>
						<div *ngIf="submitted1 && GetcustomerInfo.controls.email.errors" class="invalid-feedback">
							<div *ngIf="GetcustomerInfo.controls.email.errors.required">Email ID is required</div>
							<div *ngIf="GetcustomerInfo.controls.email.errors.email">Email must be a valid email address</div>
							
						</div>	
				   </div>
			
				   <div class="form-group mb-0">
					<input type="number"
					class="" autocomplete="off" [readonly]="isphoneReadOnly" formControlName="phone" placeholder="Mobile Number" />
	
					<div *ngIf="submitted1 && GetcustomerInfo.controls.phone.errors" class="invalid-feedback">
						<div *ngIf="GetcustomerInfo.controls.phone.errors.required">Mobile no. is required</div>
						 <div *ngIf="GetcustomerInfo.controls.phone.errors.pattern">Please, Enter 10 digit Mobile Number</div>
						
					</div>	
	
				</div> 
				</div>
			</div>

			
		</div>
	
		<h3>Passenger Information</h3>
		<!-- Passenger Information box start-->
		<div formGroupName="bookingInfo">
		<div class="mobile-contact-infbox shadow" formArrayName="bookingDetail" 
		*ngFor="let item of passengerFormGroup.controls; let i = index;" >
			<div class="row" [formGroupName]="i">
				<div class="col-6"><h5>Passenger-{{i+1}}</h5></div>
				<div class="col-6"><h6>Seat No- {{ get_seatno(item.value.bus_seats_id) }}</h6></div>
				<div class="col-12">
					<div class="form-group">
						<input type="text"  formControlName="passenger_name" class="" placeholder="Passenger Name">	
						<div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_name'].hasError('required')" class="invalid-feedback">Name is required</div>

						<div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_name'].hasError('pattern')" class="invalid-feedback">Alphabets only</div>

				   </div>
				</div>
				<div class="col-12 mob-bk2">
					<div class="form-group">
						<label class="text-muted f-10 mb-1">Gender</label>
						<div class="mt-1">
	
						   <div class="custom-control custom-radio custom-control-inline" *ngFor="let g of genderArr; let i = index;">
							  <input type="radio" id="{{g.name}}{{item.value.bus_seats_id}}" [value]="g.value"  formControlName="passenger_gender" class="custom-control-input">
							  <label class="custom-control-label small" for="{{g.name}}{{item.value.bus_seats_id}}">{{g.name}}</label>
						   </div>
	
						   <div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_gender'].hasError('required')" class="invalid-feedback">Gender is required</div>
								<div *ngIf="getPassengerFormGroup(i).controls['passenger_gender'].hasError('GenderError')" 
								class="invalid-feedback">{{ getPassengerFormGroup(i).controls['passenger_gender'].errors.message }}</div>
						  
						</div>
					 </div>
				   
			   </div>
			   <div class="col-12">
					<div class="form-group mb-0">
					   <input type="number" class="" 
					   formControlName="passenger_age" placeholder="Passenger Age" />
	
					   <div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_age'].errors?.required" class="invalid-feedback">Age is required</div>
					   <div *ngIf="submitted1 &&  getPassengerFormGroup(i).controls['passenger_age'].errors?.min" class="invalid-feedback">Age must be from 1 to 100</div>

					   <div *ngIf="submitted1 &&  getPassengerFormGroup(i).controls['passenger_age'].errors?.max" class="invalid-feedback">Age must be from 1 to 100</div>
					</div> 
				
				</div>
			</div>
		</div>
	   </div>


	   <!-- <h3>Fair Details</h3> -->
	   <div class="mobile-contact-infbox shadow">
		   <div class="row mobile-fair-det">
			   <div class="col-8"><strong>Base Fare</strong> </div>
			   <div class="col-4"> <span><strong>₹ {{ bookingdata.PriceArray.odbus_charges_ownerFare }}</strong></span></div>
			   <!-- <div class="col-8">Service Charges </div>
			   <div class="col-4"><span>+₹ {{ bookingdata.PriceArray.odbusServiceCharges }}</span> </div> -->
			  
			  
		   </div>
	   </div>
	
	   </div>

	  


	   <!-- Footer -->
		<div class="mob-mtbh-8"></div>

		<button type="submit" class="btn mobile-booking-bottom fixed-bottom" >PROCEED</button>
	
	</form>

</ng-container>


<ng-container *ngIf="bookingStep2 && bookingStep3==false && !MenuActive">

		
<div class="mobile-booking-top">
    <div class="row">
        <div class="col-1 pr-0 pl-2 mob-arrow-left" (click)="getBack()">
			<i class="fas fa-arrow-left"></i></div>
        <div class="col-9 pl-2 pr-2 mob-list-center">
            <h5>{{ busRecord.busName }}</h5>
            <span class="wh10">{{ source }}</span> <i class="fas fa-long-arrow-alt-right"></i> <span class="wh10">{{ destination }}</span> <br/>
            <span class="wh10">{{ entdate | date:'EEE, d MMMM , y' }}</span>
           
        </div>        
    </div>
</div>

	<form [formGroup]="bookForm2" (ngSubmit)="submitForm2()">

	<div class="mobile-booking-middle">
        <h3>Journey Details</h3>
        <div class="mobile-contact-infbox shadow">
            <div class="row mobile-jou-details">
                <div class="col-8">
                    {{passengerData.bookingInfo.bookingDetail.length}} Passenger(s)
                </div>
                <div class="col-4  text-right fsm15"> {{ busRecord.totalJourneyTime}}</div>
                <div class="col-12 mt-1"><span>Boarding Point</span></div>
                <div class="col-8">
					{{ bookingdata.boardingPoint.boardingPoints }}
                </div>
                <div class="col-4 text-right fsm15"> {{ busRecord.departureTime}}</div>

                <div class="col-12 mt-1"><span>Dropping Point</span></div>
                <div class="col-8">
					{{ bookingdata.droppingPoint.droppingPoints }}
                </div>
                <div class="col-4 text-right fsm15">{{ busRecord.arrivalTime}}</div>
            </div>
        </div>
    
        <h3>Contact Information</h3>
		
			
		
        <div class="mobile-contact-infbox shadow">
            <div class="row mobile-contact-ad">

				<div class="col-12 mt-2 mb-2">
                    <h6>Name: <span>{{ passengerData.customerInfo.name}}</span></h6>
                    <!-- <h5></h5> -->
                </div>   
                
                <div class="col-12 mb-2">
                    <h6>Email Id: <span>{{ (passengerData.customerInfo.email) ? passengerData.customerInfo.email : 'N/A'}}</span></h6>
                    <!-- <h5></h5> -->
                </div>    
                <div class="col-12">
                    <h6>Phone Number: <span>+91 {{ passengerData.customerInfo.phone}}</span></h6>
                    <!-- <h5></h5> -->
               </div>
               
            </div>
        </div>
        
        
        <h3>Passenger Information</h3>
        <div class="mobile-contact-infbox shadow">
            <div class="row">
               
                <div class="col-12">
                    <table class="table table-bordered mb-0">

						<thead>
							<th>Passenger Name</th>
							<th class="text-center">Seats</th>
							<th class="text-center">Gender</th>
							<th class="text-center">Age</th>
						</thead>

						<tbody>
                            <tr *ngFor="let dt of passengerData.bookingInfo.bookingDetail; let i = index;">
                                <td>{{ dt.passenger_name }}</td>
                                <td class="text-center">{{ get_seatno(dt.bus_seats_id) }}</td>
                                <td class="text-center">{{ dt.passenger_gender }}</td>
                                <td class="text-center">{{ dt.passenger_age }}</td>
                            </tr>
    
                        </tbody>

						</table>
                   
               </div>
              
            </div>
        </div>
        <!-- Passenger Information box end-->
    
       <h3>Have a Coupon Code ?</h3>
    <div class="mobile-contact-infbox shadow" *ngIf="autoApplyCouponStatus==false">
		<form [formGroup]="couponForm" (ngSubmit)="ApplyCoupon()">  
        <div class="row">
			          
            <div class="col-8">
                <div class="form-group mb-0">
                    <input type="text"  class="" autocomplete="off" formControlName="coupon_code" placeholder="Enter Coupon Code">
               </div>
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-warning" [disabled]="!couponForm.valid">APPLY</button>
            </div>
			        
        </div>
		</form>   
    </div>
   <div class="mob-term-priv">


		<!-- customer GST  -->
		
		<div class="row mb-2">
			<div class="col-12" *ngIf="busRecord.origin != 'MANTIS'">
			<label class="terms" >
				<input formControlName="customer_gst_status" #customer_gst_status
				id="customer_gst_status" 
				type="checkbox" 
				[checked]="gstStatus" 
				(change)="customer_gst_StatusChange(customer_gst_status.checked)"> &nbsp;
				<span class="mob-gst"><b>Need GST Invoice <span class="mob-gst" *ngIf="customer_gst!=''">({{customer_gst}}%)</span> ? </b></span></label>
			</div>
		</div>

		<div class="row" *ngIf="gstStatus">			
			<div class="col-12">
				<label>GSTIN</label><br>				
				<input type="text"  formControlName="customer_gst_number" class="form-control" placeholder="GSTIN">
			</div>
			<div class="col-12">
				<label>Business Name</label><br>
				<input type="text"  formControlName="customer_gst_business_name" class="form-control" placeholder="Business Name">			
			</div>
			<div class="col-12">
				<label>Business Email</label><br>
				<input type="text"  formControlName="customer_gst_business_email" class="form-control" placeholder="Business Email">			
				
				<div *ngIf="submitted2 && bookForm2.controls.customer_gst_business_email.errors" class="invalid-feedback">
					<div *ngIf="bookForm2.controls.customer_gst_business_email.errors.email">Email must be a valid email address</div>
					
				</div>
		
			</div>
			<div class="col-12">
				<label>Business Address</label><br>
				<input type="text"  formControlName="customer_gst_business_address" class="form-control" placeholder="Business Address">			
			</div>
		  </div>


	<h3>Fare Details</h3>
        <div class="mobile-contact-infbox shadow">
            <div class="row mobile-fair-det">

				<div class="col-12" *ngIf="couponData.discount > 0" style="color:green;font-weight: bold;">Coupon code ( {{autoApplyCouponcode}} ) applied</div>

				<div class="col-8">Base Fare</div>

				<div class="col-4 text-right">₹ {{ bookingdata.PriceArray.odbus_charges_ownerFare }}</div>

				<div class="col-8" *ngIf="couponData.discount > 0">Coupon Discount</div>

				<div class="col-4 text-right" *ngIf="couponData.discount > 0" ><strong style="color: green;font-weight: bold;font-style: italic;">- ₹ {{couponData.discount}}</strong></div>


				<div class="col-8" *ngIf="gstdeduction > 0">Customer GST</div>


				<div class="col-4 text-right" *ngIf="gstdeduction > 0" 
					style="color: green;font-weight: bold;font-style: italic;">
					<strong>+ ₹ {{gstdeduction}}</strong></div>

	

				<div class="col-8">Transaction Fee</div>

				<div class="col-4 text-right">+ ₹ {{ bookingdata.PriceArray.transactionFee }}</div>
           
			<div class="col-8 mob-total"><strong>Total</strong></div>

				<div class="col-4 text-right mob-total"><strong>₹ {{ couponData.payableAmount }}</strong></div>	


                <!-- <div class="col-8"><strong>Payable Amount</strong> </div>
                <div class="col-4"> 					
					<span><strong>₹ {{ couponData.payableAmount }}</strong></span>
					<span *ngIf="couponData.discount > 0" 
						style="color: green;font-weight: bold;font-style: italic;">( ₹ {{couponData.discount}}/- OFF )</span>				
				</div> -->
            </div>
        </div>

	<label class="terms mob-term-priv">
		<p><input formControlName="tnc" #tnc
		id="tnc" 
		type="checkbox" 
		[checked]="tncStatus" 
		(change)="tncStatusChange(tnc.checked)"> &nbsp;
		 I agree that I have read and understood the <a target="_blank" routerLink="/terms-conditions">T&Cs</a> and the <a target="_blank" routerLink="/privacy-policy">Privacy Policy</a>
		</p>
	    </label>

	<div *ngIf="submitted2 && bookForm2.controls.tnc.errors" class="invalid-feedback">
		<div *ngIf="bookForm2.controls.tnc.errors.required">Agree the Terms & Conditions</div>
		<div *ngIf="bookForm2.controls.tnc.errors.checked">Agree the Terms & Conditions</div>
		
	</div>

   <!-- <p>By Clicking <a href="#">CONTINUE</a>, I agree to <a href="#">Terrms & Conditions</a> and <a href="#">Privacy Policy</a></p> -->
   </div>
       
       </div>
       <!-- Footer -->
        <div class="mob-mtbh-8"></div>
		<button class="btn mobile-booking-bottom fixed-bottom" type="submit" (click)="countdown.resume()">Pay Now</button>

	</form>

<!-- Bookibg Step 2 End-->


</ng-container>

<ng-container *ngIf="bookingStep2==false && bookingStep3 && !MenuActive">

		
<div class="mobile-booking-top">
    <div class="row">
        <div class="col-1 pr-0 pl-2 mob-arrow-left" (click)="getBack()">
			<i class="fas fa-arrow-left"></i></div>
       <div class="col-9 pl-2 pr-2 mob-list-center2">
		<h5>Ticket Details</h5>
            <!-- <h5>{{ busRecord.busName }}</h5>
            <span class="wh10">{{ source }}</span> <i class="fas fa-long-arrow-alt-right"></i> <span class="wh10">{{ destination }}</span> <br/>
            <span class="wh10">{{ entdate | date:'EEE, d MMMM , y' }}</span> -->
           
        </div>         
    </div>
</div>

	<div class="mobile-booking-middle mt-1">
	<div class="col-12 passenger-detail box-padding" style="padding-top: 8px;">

		<!-- <div class="col-md-12" style="text-align: center;">
			<img src="assets/img/odbus-logo.svg" alt="logo-ODBUS" title="Logo" />
		</div> -->

		<div>
			<h5 style="text-transform: capitalize;">Hello {{ passengerData.customerInfo.name }}</h5>
			<h6 class="print">Your Ticket is Confirmed. (PNR: {{ pnr }}).</h6>
			<h6 class="print">ODBUS Wishing You A Happy Journey <img class="smile" src="../../assets/img/Icon awesome-smile-beam.svg"></h6>
			<h6 class="print-sm">We have sent booking details to your <b>{{ passengerData.customerInfo.phone}}</b>  <b *ngIf="passengerData.customerInfo.email"> & {{ passengerData.customerInfo.email}}</b> </h6>
	   </div>
	</div>

	<!-- <div class="row" style="margin-top:10px">
		<div class="col-md-12 print_btn" align="right" [id]="'print_btn'">
			<button (click)="print();" class="btn btn-warning" style="color: #072c6b;font-weight: bold;">PRINT TICKET</button>
		</div>
   </div> -->


	<div class="passenger-detail mt-3 mb25">
		<div class="od-body">
		   <div class="row mb40">
			   <div class="col-3"></div>
			   <div class="col-6"><img src="../../assets/img/email-logo.png" class="od-logo" /></div>
			   <div class="col-3"></div>
			   <div class="col-12 odtext32"><span>ODBUS</span> e-Ticketing Service<br/> Electronic Reservation Slip</div>
			   <div class="col-12">
				   <div class="od-bktext">Booking Date</div>
				   <div class="od-bktext">{{bookingDate | date:'EEEE, d MMMM , y' }}</div>
			   </div>
		   </div>
		   <div class="row  mt30 mb25">
			<div class="col-12 odtext24">
				<h3 class="mb-font16">JOURNEY DETAILS:</h3>
				<table class="table table-bordered">
					<thead>
					  <tr>
						<th class="pnrr" scope="col">PNR No: {{ pnr }}</th>
					  </tr>
					</thead>
					<tbody>
						<tr>
							<td scope="col">Bus Name/Number: {{ busRecord.busName }}-{{ busRecord.busNumber }}</td>
						</tr>
					  <tr>
						<td>Journey Date: {{ entdate | date:'EEEE, d MMMM , y' }}</td></tr>
						<tr><td>Bus Route: {{ source }}-{{ destination }}</td>
					  </tr>
					  <tr>
						<td>Deparature Timing: {{ busRecord.departureTime}}</td></tr>
						<tr><td>Arrival Timing: {{ busRecord.arrivalTime }}</td>
					  </tr>
					  <tr>
						<td>From: {{ source }} ({{ bookingdata.boardingPoint.boardingPoints }})</td></tr>
						<tr><td>To: {{ destination }} ({{ bookingdata.droppingPoint.droppingPoints }})</td>
					  </tr>
					  <tr>
						<td>Boarding At :{{ source }} ({{ bookingdata.boardingPoint.boardingPoints }})</td></tr>
						<tr><td>Droping At: {{ destination }} ({{ bookingdata.droppingPoint.droppingPoints }})</td>
					  </tr>
					  <tr>
						<td>Passenger Mobile No: +91 {{ passengerData.customerInfo.phone}}</td></tr>
						<tr><td>Conductor Mobile No: {{busRecord.conductor_number}}</td>
					  </tr>
					  <tr>
						<td>Total Fare: Rs.{{ couponData.payableAmount }}/-</td></tr>
						<tr><td>Seat({{total_seat_name.length}})- {{total_seat_name}}</td>
					  </tr>					  
					</tbody>
				  </table>
				
			</div>
			<div class="col-12">
				<qr-code [value]="qrCode" size="250" level="M"></qr-code>
			</div>
		</div>

		<div class="row mt30 mb25">
			<div class="col-12 odtext24">
				<h3 class="mb-font16">PASSENGER DETAILS:</h3>
				<table class="table table-bordered">
					<thead>
					  <tr>
						<th scope="col">Sl No.</th>
						<th scope="col">Name</th>
						<th scope="col">Age</th>
						<th scope="col">Gender</th>
						<th scope="col">Seat No</th>
					  </tr>
					</thead>
					<tbody>

					  <tr *ngFor="let dt of passengerData.bookingInfo.bookingDetail; let i = index;">
						<th scope="row">{{i+1}}</th>
						<td>{{ dt.passenger_name }}</td>
						<td class="text-center">{{ dt.passenger_age }}</td>
						<td class="text-center">{{ dt.passenger_gender }}</td>
						<td class="text-center">{{ get_seatno(dt.bus_seats_id) }}</td>
					  </tr>					
					</tbody>
				  </table>
			</div>
			
		</div>

		<!-- <div class="row mt30 mb25">
			<div class="col-md-12"><img src="../../assets/img/banner-01.png" class="od-banner"/></div>
		</div> -->

		<div class="row mt30">

			<div class="col-12 odtext24">

			<div class="col-12 odtext24"><h3 class="mb-font16">CANCELLATION POLICY</h3></div>


				<ol>				  
				  <li>We are at ODBUS advice to all customers is to choose bus  they are comfortable with.</li>
				  
				  <li>In case the bus operator changes the typ reason, ODBUS will refund in 24 hours of the journey.</li>
				  
				  <li>The tickets booked through ODBUS be possible before 12 hours.</li>
				  
				  
				 </ol>

				 <table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Cancellation Time</th>
							<th scope="col">Cancellation Charges</th>
						</tr>
					</thead>
					<tbody *ngIf="busRecord.cancellationDuration.length > 0 ">
						<tr
							*ngFor="let can of busRecord.cancellationDuration; let i=index">
							<td>{{ can }} hr</td>
							<td class="text-center">{{ busRecord.cancellationDuduction[i] }}%</td>
						</tr>

						<tr>
							<td colspan="2">
							  <ol>
								<li>All customers is to choose bus they are comfortable.</li>
								
								<li>Bus operator changes ODBUS wilustomers in 24 hours of the journey.</li>
								
								<li>The tickets booked through ODBUS  before 12 hours.</li>
								
							   </ol>
							</td>
							 
						  </tr>

					</tbody>
				</table>
			  </div>

			<div class="col-12 odtext24"><h3 class="mb-font16">TERMS & CONDITIONS</h3></div>
			<div class="col-12">
				<div class="odbox1">
				  <div class="row" style="font-size: 12px;">
					<div class="col-12">

					  <table width="100%">
						<tr> <td style="width: 50%;">
					  <h6> ARE NOT ODBUS RESPONSIBILITIES</h6>
					  <ol>
					   
						<li>	Any incorrect data provided by customer while booking the ticket.</li>
						<li>	Any Bus delays, breakdowns, service cancellations and accidents.</li>
						<li>	Any misbehavior by the bus partner staff or co-passenger.</li>
						<li>	Loss/damage of baggage.</li>
						<li>	Late arrival by customer at the boarding point.</li>
						<li>	Customer phone not reachable, bus Conductor did not call at the boarding point and left without picking the customer.</li>
						<li>	Customer waiting at wrong boarding point.</li>
						<li>	Any change of seat numbers done by the bus Conductor manually.</li>
						<li>	Bus Partner changing the boarding point for any reason.</li>
						<li>	Bus Conductor arranging a different vehicle for pickup at boarding point and boarding the actual vehicle at a different place.</li>
						<li>	Bus Conductor objecting on carrying pets.</li>
						<li>	Improper booking done by agent, please contact the agent directly.</li>
						<li>	Bus owners not providing In-bus amenities/facilities mentioned while booking.</li>
						<li>	Change of bus type by Bus owner for any reason.</li>
						<li>	Bus fares are not controlled by ODBUS, so any change in fares is not the responsibility of ODBUS.</li>
						<li>	The fare might vary based on the seat selected. So the fare shown in the “Search Page” and “Seat Selection Page” might vary</li>
						
					  </ol>
					  </td>
					 
					  <td style="width: 50%;">
					  <h6> CANCELLATION POLICY</h6>
					  <ol>
					   
						<p>The tickets booked through ODBUS Can be cancelled and note that Cancel Can be possible before 12 hours of the departure of the said bus. </p>
						<li>Partial cancellation not allowed in ODBUS.</li>
						<li>	In respect of refunds due to cancellation of service by Operator , passenger is required to send an e-mail to support@odbus.in mentioning PNR of the ticket. We will verify and refund the amount to the concerned Credit card / Internet banking / UPI.</li>
						<li>	Refunds for Ticket cancellations / Failed Transactions to passengers will be given normally in 10 - 12 Bank working days by ODBUS, after the cancellation of ticket or receipt of e-mail. If refunds are delayed, passengers may contact ODBUS Executive at 9583918888 ( 09:00 AM to 07:00 PM )</li>
						<li>	Customer can't claim any cancellation refund on rescheduled tickets.</li>
						<li>	The cancellation terms are different for each Operator which is set by Bus Owners itself. These terms are shown while booking as well as on the ticket printout/Email confirmation.</li>
						<li>	Tickets booked through online should be cancelled only through online.</li>
						<li>	Transaction & convenience charges are non-refundable for Ticket Cancellation / Service Cancellation.</li>
						<li>	Cancellation charges are applicable on Base fare not on the discounted .</li>
						
					  </ol>
					  </td>
					  </tr>
					  </table>
					</div>
				   
				  </div>
				</div>
			  </div>

			  <div class="col-12 mt30">
				<div class="odbox2">
				  <div class="row">
					<div class="col-md-12">
					  <p>Contact Information</p>
					  <p>
						ODBUS Helpline (07:00 AM To 11:00
						PM):9583-918-888 (For Online Booking issue or
						Online Cancellation issue.)
					  </p>
					  <p>
						ODBUS Customer Support Email (Response time 3
						working days): support@odbus.in
					  </p>
					</div>
				  </div>
				</div>
			  </div>

			<div class="col-12 mt30">
			  <div class="odbox3">
				<div class="row ">
				  <div class="col-12">
					<p>Thankyou</p>
					<p>Team ODBUS</p>
				  </div>
				</div>
			  </div>
			</div>
			
		</div>
		</div>
	</div>
	
</div>
<div class="bh80"></div>
</ng-container>


<!-- Bookibg Step 1 End -->
</ng-template>


<ng-container *ngIf="isMobile && MenuActive">
    <div class="mobile-myaccount-top">
      <div class="row">
        <div class="col-5">
          <div class="mobile-logo">
            <img src="assets/img/mob-img/logo.png" />
          </div>
        </div>
        <div class="col-7 mob-logintx">
          <a routerLink="/login" *ngIf="!session.isLoggedIn()">
            Login / Signup
          </a>
          <a routerLink="/dashboard" *ngIf="session.isLoggedIn()"> Dashboard </a>
        </div>
      </div>
    </div>
  
    <div class="mobile-myaccount-middle">
      <ul class="mobile-menu">
        <li>
          <a routerLink="/manage-booking"><i class="far fa-window-restore"></i> Manage Booking</a>
        </li>
        <li>
          <a routerLink="/offers"><i class="fas fa-gifts"></i> Offers</a>
        </li>
        <li>
          <a routerLink="/operators"><i class="fas fa-bus"></i> Operators</a>
        </li>
        <li>
          <a routerLink="/routes"><i class="fas fa-map-marker-alt"></i> Routes</a>
        </li>
        <li>
          <a routerLink="/faq"><i class="fas fa-question"></i> FAQ's</a>
        </li>
        <li>
          <a routerLink="/testimonials"><i class="fa fa-star"></i> Testimonials</a>
        </li>
        <li>
          <a routerLink="/terms-conditions"><i class="fas fa-file-image"></i> Terms & Conditions</a>
        </li>
        <li>
          <a routerLink="/privacy-policy"><i class="far fa-file-powerpoint"></i> Privacy Policy</a>
        </li>
        <li>
          <a routerLink="/about-us"><i class="fas fa-info-circle"></i> About Us</a>
        </li>
      </ul>
    </div>
  </ng-container>

<ng-container *ngIf="isMobile && bookingStep3 ">
	<div class="mob-mtbh"></div>
	<div class="mobile-fixed-bottom">
	  <div class="footer-menu row m-0 mobile-bg-danger">
		<div class="col-3 p-0 text-center">
		  <a routerLink="/" class="home">
			<i class="fas fa-home"></i>
			<p class="mb-0 small">Home</p>
		  </a>
		</div>
		<div class="col-3 p-0 text-center">
		  <a routerLink="/dashboard" class="home active">
			<i class="fas fa-ticket-alt"></i>
			<p class="mb-0 small">My Bookings</p>
		  </a>
		</div>
  
		<div class="col-3 p-0 text-center" *ngIf="!session.isLoggedIn()">
		  <a routerLink="/login" class="home">
			<i class="fas fa-user"></i>
			<p class="mb-0 small">Login</p>
		  </a>
		</div>
  
		<div class="col-3 p-0 text-center" *ngIf="session.isLoggedIn()">
		  <a routerLink="/myaccount" class="home">
			<i class="fas fa-user"></i>
			<p class="mb-0 small">My Account</p>
		  </a>
		</div>
  
		<div class="col-3 p-0 text-center">
		  <a (click)="menu()" class="home {{activeMenu}}">
			<i class="fa-solid fa-bars"></i>
			<p class="mb-0 small">Menu</p>
		  </a>
		</div>
	  </div>
	</div>
  </ng-container>

<ng-template #Desktop>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > {{loadingText}}  </p></ngx-spinner>

<ngx-spinner name="mySpinner" template= '<img src="../../assets/img/loader.gif" style="width:100px">' >
	<p style="color: white;font-weight: bold;font-size:20px;margin-top: 50%; margin-left: 28%;" > Order Processing </p>
		<p style="color: white;font-weight: bold;" >		
		    Please wait and do not press BACK Or REFRESH Button.<br>
			Please be patient while your transaction is being processed.....
		</p>
	</ngx-spinner>



<section class="search-result pt-40 pb-60">
    <div class="container">
        <div class="row">

<div class="col-md-12">

	<countdown #countdown [config]="{leftTime: Timer ,demand: true, format: 'mm:ss' }" (event)="handleEvent($event)" style="display: none;"></countdown>

<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

	
	
	<ng-wizard-step [title]="'Passenger Details'"  [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
	 
		
		<form [formGroup]="bookForm1" (ngSubmit)="submitForm1()">
	  <div class="row passenger pt-25">


		<div class="col-md-8">

		<b style="color:red" *ngIf="notice!=''">{{notice}}</b>
			<div class="passenger-detail">
			<h5>Passenger Details</h5><hr>

			<div formGroupName="bookingInfo">			
			
			<div formArrayName="bookingDetail" 
			*ngFor="let item of passengerFormGroup.controls; let i = index;">
				
				<div class="row"  [formGroupName]="i">
					<div class="col-md-3">
						<label>Passenger {{i+1}}</label><br>						
						<ng-select                                                 
                        [items]="genderArr"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="Select Gender"                                       
                        formControlName="passenger_gender"
                        [clearable]="false"
                        >
                        </ng-select>						
						<div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_gender'].hasError('required')" class="invalid-feedback">Gender is required</div>
						<div *ngIf="getPassengerFormGroup(i).controls['passenger_gender'].hasError('GenderError')" 
						class="invalid-feedback">{{ getPassengerFormGroup(i).controls['passenger_gender'].errors.message }}</div>
						
					</div>
					<div class="col-md-6">
						<label><span class="grey">Seat No:</span> {{ get_seatno(item.value.bus_seats_id) }}</label><br>
						<input type="text"  formControlName="passenger_name" class="form-control" placeholder="Full Name">			
					
						<div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_name'].hasError('required')" class="invalid-feedback">Name is required</div>

						<div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_name'].hasError('pattern')" class="invalid-feedback">Alphabets only</div>

					</div>

					<div class="col-md-3">
						<label>&nbsp;</label><br>
						<input type="number" class="form-control" 
					   formControlName="passenger_age" placeholder="Passenger Age" />
	
					   <div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_age'].errors?.required" class="invalid-feedback">Age is required</div>
					   <div *ngIf="submitted1 &&  getPassengerFormGroup(i).controls['passenger_age'].errors?.min" class="invalid-feedback">Age must be from 1 to 100</div>

					   <div *ngIf="submitted1 &&  getPassengerFormGroup(i).controls['passenger_age'].errors?.max" class="invalid-feedback">Age must be from 1 to 100</div>
						
					</div>
				
				</div>
			</div>
			</div>
		
			<div class="padding20">

			<h5>Contact Details</h5><hr>

			<div class="row" formGroupName="customerInfo">
				<div class="col-md-4">
					<label>Name</label><br>
					<input type="text"  class="form-control" [readonly]="isnameReadOnly" formControlName="name" placeholder="Enter Your Name" >	
				
					<div *ngIf="submitted1 && GetcustomerInfo.controls.name.errors" class="invalid-feedback">
						<div *ngIf="GetcustomerInfo.controls.name.errors.required">Name required</div>
						<div *ngIf="GetcustomerInfo.controls.name.errors.pattern">Alphabets only</div>

					</div>			
				</div>

				

				<div class="col-md-4">
					<label>Mobile No.</label><br>
					<input type="text"  (keydown)="onlyNumbers($event);" maxlength ="10"
					  class="form-control" autocomplete="off" [readonly]="isphoneReadOnly" formControlName="phone" placeholder="Mobile Number" >
					
					<div *ngIf="submitted1 && GetcustomerInfo.controls.phone.errors" class="invalid-feedback">
						<div *ngIf="GetcustomerInfo.controls.phone.errors.required">Mobile no. is required</div>
						 <div *ngIf="GetcustomerInfo.controls.phone.errors.pattern">Please, Enter 10 digit Mobile Number</div>
						
					</div>		
				</div>

				<div class="col-md-4">
					<label>Email</label><br>
					<input type="text" class="form-control" [readonly]="ismailReadOnly" formControlName="email"  placeholder="Email" >
					<div *ngIf="submitted1 && GetcustomerInfo.controls.email.errors" class="invalid-feedback">
						<div *ngIf="GetcustomerInfo.controls.email.errors.required">Email ID is required</div>
						<div *ngIf="GetcustomerInfo.controls.email.errors.email">Email must be a valid email address</div>
						
					</div>	
				</div>
			</div>

			<div class="row padding" >
				<div class="col-md-12">
					<p class="paragraph"><span># </span> You will receive booking details in this mobile number and email address</p>
				</div>
			</div>

		</div>
	</div>
	</div>

		<div class="col-md-4">
			<div class="passenger-detail">	

			<div class="row"> 
				<div class="col-md-12">

					<h5>Bus Details:</h5><hr>
					<!-- <span class="font">Bus Name</span> -->
					<h5>{{ busRecord.busName }} <span *ngIf="busRecord.busNumber!=''">({{ busRecord.busNumber }})</span></h5>
					<h6>{{ busRecord.bus_description }} {{ busRecord.sittingType}}</h6>
					<h6><b *ngIf="ub_seats!=''"> Sleeper No. :-  {{ ub_seats }}</b>
						<span *ngIf="lb_seats!='' && ub_seats!='' "> <br> </span>
						<b *ngIf="lb_seats!=''">Seat No. :-  {{ lb_seats }}</b>
						
					</h6>

					<span class="font">Journey Date</span>
					<h5>{{ entdate | date:'EEEE, d MMMM , y' }}</h5>
					
				</div>
			</div>

			<div class="row"> 
				
			<div class="col-md-1">
				<img src="assets/img/Icon metro-location (1).svg" class="img1"><br>
				<img src="assets/img/Line 11.svg"  class="img2"> <br>
				<img src="assets/img/Icon metro-location (1).svg"  class="img3">
				</div>
				<div class="col-md-11">
					<span class="font">From</span>			
					<h5> {{ source }}</h5>
					<h6>{{ bookingdata.boardingPoint.boardingPoints }} - {{ busRecord.departureTime}}</h6>

					<span class="font">To</span>
					<h5>{{ destination }}</h5>
					<h6>{{ bookingdata.droppingPoint.droppingPoints }} - {{ busRecord.arrivalTime}}</h6>


					

</div>
</div>

					<!-- <h5>Fare Details:</h5><hr> -->


					<span class="font">Base Fare</span>
					<h5>₹ {{ bookingdata.PriceArray.odbus_charges_ownerFare }}</h5>

					<!-- <div class="row fare-detail">
					
					   <div class="col-md-8"><h6>Base Fare</h6></div>
	   
					   <div class="col-md-4"><h6><strong>₹ {{ bookingdata.PriceArray.ownerFare }}</strong></h6></div>
	   
					 
					   <div class="col-md-8"><h6>Service Charges</h6></div>
	   
					   <div class="col-md-4"><h6><strong>+ ₹ {{ bookingdata.PriceArray.odbusServiceCharges }} </strong></h6></div>
	   
				   
					   <div class="col-md-8"><h6>Transaction Fee</h6></div>
	   
					   <div class="col-md-4"><h6><strong>+ ₹ {{ bookingdata.PriceArray.transactionFee }}</strong></h6></div>
	   
			          <div class="col-md-8"><h5>Total</h5></div>
	   
					   <div class="col-md-4"><h5>₹ {{ couponData.totalAmount }}</h5></div>

					   
					</div> -->
					<div class="padding">
						<div>
						<button type="submit" class="btn btn-warning proceed">PROCEED</button>
						</div>
				   
	   
				   </div>
	   
				   
				
			
			</div>
		</div>
      </div>
    </form>
</ng-wizard-step>
	
	
	<ng-wizard-step [title]="'Review Details'"  
	[canEnter]="isValidFunctionReturnsObservable.bind(this)"
	[canExit]="isValidFunctionReturnsBoolean.bind(this)">

	<form [formGroup]="bookForm2" (ngSubmit)="submitForm2()">

	<div class="row passenger pt-25" >
		<div class="col-md-12 ">
			<div class="passenger-detail">

			<h5>Journey Details</h5><hr>

			<div class="row">
				<div class="col-md-3">
					<h5><i class="fas fa-map-marker-alt icon-color"></i> {{ source }}</h5>
					<h6 class="padding-left">{{ bookingdata.boardingPoint.boardingPoints }} - {{ busRecord.departureTime}}</h6>
									
				</div>

				<div class="col-md-3">
					<h5><i class="fas fa-map-marker-alt icon-color"></i> {{ destination }}</h5>
					<h6 class="padding-left">{{ bookingdata.droppingPoint.droppingPoints }} - {{ busRecord.arrivalTime }}</h6>			
				</div>

				

				<div class="col-md-3">
								
					<h5><i class="fas fa-bus-alt icon-color"></i> {{ busRecord.busName }} </h5>
					<h6 class="padding-left" *ngIf="busRecord.busNumber!=''">({{ busRecord.busNumber }})</h6>
					
									
				</div>
				<div class="col-md-3">
					<h5><i class="far fa-calendar-alt icon-color"></i> {{ entdate | date:'EEEE, d MMMM , y' }}</h5>
					<h6 class="padding-left">{{ passengerFormGroup.length }} Passenger(s)</h6>	
				</div>
			</div>
		  </div>
		</div>

		<div class="col-md-12">
			<div class="passenger-detail box-padding">
			<h5>Passenger Details</h5><hr>

			<div class="row">

				<div class="col-md-12">
				<table class="tableclass" cellpadding="12">
					<thead>
						<th>Passenger Name</th>
						<th class="pd2">Seats</th>
						<th class="pd2">Gender</th>
						<th class="pd2">Age</th>
					</thead>
					<tbody>
						<tr *ngFor="let dt of passengerData.bookingInfo.bookingDetail; let i = index;">
							<td align="left">{{ dt.passenger_name }}</td>
							<td align="center">{{ get_seatno(dt.bus_seats_id) }}</td>
							<td align="center">{{ dt.passenger_gender }}</td>
							<td align="center">{{ dt.passenger_age }}</td>
						</tr>

					</tbody>
				</table>

                <h5>Contact Details</h5><hr>
				<!-- <h4 style="color: #bbadad;font-size: 17px;"><hr>Contact Details</h4> -->

				<table class="tableclass2" cellpadding="10">
					
					
						<thead>
							<td><strong>Name</strong></td>
							<td><strong>Mobile Number</strong></td>
							<td><strong>Email Address</strong></td>
							<td>&nbsp;</td>
						</thead>
						<tbody>
						<tr>
							<td>{{ passengerData.customerInfo.name}}</td>
							<td>+91 {{ passengerData.customerInfo.phone}}</td>
							<td>{{ (passengerData.customerInfo.email) ? passengerData.customerInfo.email : 'N/A'}}</td>
							<td>&nbsp;</td>
						</tr>

					</tbody>
				</table>

				<p class="roboto"><img src="../../assets/img/Icon awesome-hashtag.svg"> will receive booking details in this mobile number & email address</p>

				</div>

				
				
			</div>

			<div class="padding" *ngIf="autoApplyCouponStatus==false">
				<form [formGroup]="couponForm" (ngSubmit)="ApplyCoupon()">
				<h5>Have a Coupon Code ?</h5><hr>				
				<div class="row padding" >
					
					<div class="col-md-4">
						<input type="text"  class="form-control" autocomplete="off" formControlName="coupon_code" placeholder="Enter Coupon Code">

						
					<!-- <div *ngIf="couponSubmitted && couponForm.controls.coupon_code.errors" class="invalid-feedback">
						<div *ngIf="couponForm.controls.coupon_code.errors.required">Coupon code is required</div>
						
					</div> -->

					</div>	
					<div class="col-md-2">
						<button [disabled]="!couponForm.valid" class="btn btn-warning" type="submit">APPLY</button>			
					</div>
					
			    </div>

			</form>
        </div>


		<!-- customer GST  -->

		<div class="row">

			<div class="col-md-12" *ngIf="busRecord.origin != 'MANTIS'">
			<label class="terms">
				<input formControlName="customer_gst_status" #customer_gst_status
				id="customer_gst_status" 
				type="checkbox" 
				[checked]="gstStatus" 
				(change)="customer_gst_StatusChange(customer_gst_status.checked)"> &nbsp;
				<span><b>Need GST Invoice <span *ngIf="customer_gst!=''">({{customer_gst}}%)</span> ? </b></span></label>
			</div>

		<div class="row col-md-12" *ngIf="gstStatus">			
			<div class="col-md-3">
				<label>GSTIN</label><br>				
				<input type="text"  formControlName="customer_gst_number" class="form-control" placeholder="GSTIN">
			</div>
			<div class="col-md-3">
				<label>Business Name</label><br>
				<input type="text"  formControlName="customer_gst_business_name" class="form-control" placeholder="Business Name">			
			</div>
			<div class="col-md-3">
				<label>Business Email</label><br>
				<input type="text"  formControlName="customer_gst_business_email" class="form-control" placeholder="Business Email">			
				<div *ngIf="submitted2 && bookForm2.controls.customer_gst_business_email.errors" class="invalid-feedback">
					<div *ngIf="bookForm2.controls.customer_gst_business_email.errors.email">Email must be a valid email address</div>
					
				</div>
			</div>
			<div class="col-md-3">
				<label>Business Address</label><br>
				<input type="text"  formControlName="customer_gst_business_address" class="form-control" placeholder="Business Address">			
			</div>
		  </div>
		</div>


		</div>

		</div>

		<div class="col-md-12">
			<div class="passenger-detail box-padding padding">
			<div class="row">
					   <div class="col-md-9 payable">
						   <p *ngIf="couponData.discount > 0" style="color:green;font-weight: bold;">Coupon code ( {{autoApplyCouponcode}} ) applied</p>
						
						   
						   <div class="row fare-detail">
					
							<div class="col-md-8"><h6>Base Fare</h6></div>
			
							<div class="col-md-4"><h6><strong>₹ {{ bookingdata.PriceArray.odbus_charges_ownerFare }}</strong></h6></div>

						

								<div class="col-md-8" *ngIf="gstdeduction > 0"><h6>Customer GST</h6></div>


								<div class="col-md-4" *ngIf="gstdeduction > 0" 
									style="color: green;font-weight: bold;font-style: italic;"><h6><strong>+ ₹ {{gstdeduction}}</strong></h6></div>

								
						
							<div class="col-md-8"><h6>Transaction Fee</h6></div>
			
							<div class="col-md-4"><h6><strong>+ ₹ {{ bookingdata.PriceArray.transactionFee }}</strong></h6></div>


							<div class="col-md-8" *ngIf="couponData.discount > 0"><h6>Coupon Discount</h6></div>

							<div class="col-md-4" *ngIf="couponData.discount > 0" 
								style="color: green;font-weight: bold;font-style: italic;"><h6><strong>- ₹ {{couponData.discount}}</strong></h6></div>
			
						   <div class="col-md-8"><h5>Total</h5></div>
			
							<div class="col-md-4"><h5>₹ {{ couponData.payableAmount }}</h5></div>	 
							
						 </div> 

						   <label class="terms" style="color:#daad23">
							<input formControlName="tnc" #tnc
							id="tnc" 
							type="checkbox" 
							[checked]="tncStatus" 
							(change)="tncStatusChange(tnc.checked)"> &nbsp;
							I agree that I have read <a target="_blank" routerLink="/terms-conditions">T&Cs</a> and the <a  target="_blank" routerLink="/privacy-policy">Privacy Policy
						</a></label>
						   

						<div *ngIf="submitted2 && bookForm2.controls.tnc.errors" class="invalid-feedback">
							<div *ngIf="bookForm2.controls.tnc.errors.required">Agree the Terms & Conditions</div>
							<div *ngIf="bookForm2.controls.tnc.errors.checked">Agree the Terms & Conditions</div>
							
						</div>
					</div>
				
				<div class="col-md-3">
					<div class="payment_box">
						<!-- make-payment -->
						<input type="image" name="submit" (click)="countdown.resume()" alt="Submit" style="cursor: pointer; width: 100%;" src="../../assets/img/makepayment.png">
                    </div>
				</div>				
			</div>
			</div>
		</div>
	</div>
   </form>

	</ng-wizard-step>		
   
	

	

		

	

	   <ng-wizard-step [title]="'Print Ticket'">  
		
		<div class="col-md-12 passenger-detail box-padding">

			<!-- <div class="col-md-12" style="text-align: center;">
				<img src="assets/img/odbus-logo.svg" alt="logo-ODBUS" title="Logo" />
			</div> -->

			<div class="print-ticket">
				<h5 style="text-transform: capitalize;">Hello {{ passengerData.customerInfo.name }}</h5>
				<h6 class="print">Your Ticket is Confirmed. (PNR: {{ pnr }}).</h6>
				<h6 class="print">ODBUS Wishing You A Happy Journey <img class="smile" src="../../assets/img/Icon awesome-smile-beam.svg"></h6>
				<h6 class="print-sm">We have sent booking details to your <b>{{ passengerData.customerInfo.phone}}</b>  <b *ngIf="passengerData.customerInfo.email"> & {{ passengerData.customerInfo.email}}</b> </h6>
		   </div>
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-md-12 print_btn" align="right" [id]="'print_btn'">
				<button (click)="print();" class="btn btn-warning" style="color: #072c6b;font-weight: bold;">PRINT TICKETS</button>
			</div>
	   </div>
		<div class="container" [id]="'print-section'">
			<div class="od-body mb25">
			   <div class="row mb40">
				<table class="tableclass2" cellpadding="10">
					<tbody>
					  <tr>
						<td>
						  <img	src="../../assets/img/email-logo.png"	class="od-logo"  />
						</td>
						<td>
						  <span>ODBUS</span> e-Ticketing Service<br />
						  Electronic Reservation Slip
						</td>
						<td>
						  <div class="od-bktext">Booking Date</div>
						  <div class="od-bktext">{{bookingDate | date:'EEEE, d MMMM , y' }}</div>

						  <!-- <div class="od-bktext" *ngIf="bookingDetails.booking[0].status==2" style="color:red;font-size:bold">
							STATUS:- CANCELLED
						   </div>

						   <div class="od-bktext" *ngIf="bookingDetails.booking[0].status==1" style="color:green;font-size:bold">
							 STATUS:- CONFIREMED
							</div> -->
						</td>
					  </tr>
					</tbody>
				  </table>				   
			   </div>
			   <div class="row  mt30 mb25">
				<div class="col-md-12 odtext24">
					<h3>JOURNEY DETAILS:</h3>
				<table width="100%">
				 <tr>
				  <td style="width: 80%;">	
					<table class="table table-bordered odbus-journey" cellpadding="0" cellspacing="0" border="1">
						<tbody>
						  <tr>
							<td>PNR No: {{ pnr }}</td>
							<td>Bus Name/Number: {{ busRecord.busName }}-{{ busRecord.busNumber }}</td>						   
						  </tr>
						  <tr>
							<td>Journey Date: {{ entdate | date:'EEEE, d MMMM , y' }}</td>
							<td>Bus Route: {{ source }}-{{ destination }}</td>
						  </tr>
						  <tr>
							<td>Deparature Timing: {{ busRecord.departureTime}}</td>
							<td>Arrival Timing: {{ busRecord.arrivalTime }}</td>
						  </tr>
						  <tr>
							<td>From: {{ source }} ({{ bookingdata.boardingPoint.boardingPoints }})</td>
							<td>To: {{ destination }} ({{ bookingdata.droppingPoint.droppingPoints }})</td>
						  </tr>
						  <tr>
							<td>Boarding At :{{ source }} ({{ bookingdata.boardingPoint.boardingPoints }})</td>
							<td>Droping At: {{ destination }} ({{ bookingdata.droppingPoint.droppingPoints }})</td>
						  </tr>
						  <tr>
							<td>Passenger Mobile No: +91 {{ passengerData.customerInfo.phone}}</td>
							<td>Conductor Mobile No: {{busRecord.conductor_number}}</td>
						  </tr>
						  <tr>
							<td>Total Fare: Rs.{{ couponData.payableAmount }}/-</td>
							<td>Seat({{total_seat_name.length}})- {{total_seat_name}}</td>
						  </tr>
						  
						</tbody>
					</table>
				 </td>	
				 <td style="width:20%;">
					<qr-code [value]="qrCode" size="250" level="M"></qr-code>
				  </td>
				 </tr>
				</table>  
				</div>				
			</div>
	
			<div class="row mt30 mb25">
				<div class="col-md-12 odtext24">
					<h3>PASSENGER DETAILS:</h3>
					<table class="table table-bordered odbus-journey" cellpadding="0" cellspacing="0" border="1" width="100%">
						<thead>
						  <tr>
							<th scope="col">Sl.</th>
							<th scope="col">Name</th>
							<th scope="col">Age</th>
							<th scope="col">Gender</th>
							<th scope="col">Seat</th>
						  </tr>
						</thead>
						<tbody>

						  <tr *ngFor="let dt of passengerData.bookingInfo.bookingDetail; let i = index;">
							<th scope="row">{{i+1}}</th>
							<td>{{ dt.passenger_name }}</td>
							<td>{{ dt.passenger_age }}</td>
							<td>{{ dt.passenger_gender }}</td>
							<td>{{ get_seatno(dt.bus_seats_id) }}</td>
						  </tr>
						
						</tbody>
					  </table>
				</div>
				
			</div>
	
			<!-- <div class="row mt30 mb25">
				<div class="col-md-12"><img src="../../assets/img/banner-01.png" class="od-banner"/></div>
			</div> -->
	
			

			<div class="row mt30">

				<div class="col-12 odtext24">

					<table style="width: 100%; margin-top: 20px;">
						<tr>
						  <td style="width: 50%;" vertical-align="top" >
							<div class="col-md-12 pl-0 odtext24 fare-backup">
							<h3>FARE BREAKUP</h3>
							<table class="table table-bordered" cellpadding="0" cellspacing="0" border="1" style="width: 100%;" >
			
								<tbody>
									<tr>
									  <td class="text-left">Base Fare</td>
									  <td class="text-right"><b>₹{{bookingdata.PriceArray.odbus_charges_ownerFare}}</b></td>
									</tr>
									<tr *ngIf="couponData.discount > 0">
									  <td class="text-left">Coupon Discount</td>
									  <td class="text-right"><b>- ₹{{couponData.discount}}</b></td>
									</tr>
									<tr *ngIf="gstdeduction > 0">
									  <td class="text-left">GST ({{customer_gst}}%)</td>
									  <td class="text-right"><b>+ ₹{{gstdeduction}}</b></td>
									</tr>
									<tr>
									  <td class="text-left">Transaction Fee</td>
									  <td class="text-right"><b>+₹{{bookingdata.PriceArray.transactionFee}}</b></td>
									</tr>								
								
									<tr>
									  <td class="text-left"><strong>Total Fare</strong></td>
									  <td class="text-right"><strong>₹{{couponData.payableAmount}}</strong></td>
									</tr>
								  </tbody>
							  
							</table>
						  </div></td>
						  <td style="width: 50%;" vertical-align="top">
							
						<div class="col-md-12 odtext24 pr-0">
						  <h3>CANCELLATION POLICY</h3>					  


						  <table class="table table-bordered odbus-journey" cellpadding="0" cellspacing="0" border="1" style="width: 100%;">
							<thead>
								<tr>
									<th scope="col">Cancellation Time</th>
									<th scope="col">Cancellation Charges</th>
								</tr>
							</thead>
							<tbody *ngIf="busRecord.cancellationDuration.length > 0 ">
								<tr
									*ngFor="let can of busRecord.cancellationDuration; let i=index">
									<td>{{ can }} hr</td>
									<td>{{ busRecord.cancellationDuduction[i] }}%</td>
								</tr>
		
								<!-- <tr>
									<td colspan="2">
									  <ol>
										<li>All customers is to choose bus they are comfortable.</li>
										
										<li>Bus operator changes ODBUS wilustomers in 24 hours of the journey.</li>
										
										<li>The tickets booked through ODBUS  before 12 hours.</li>
										
									   </ol>
									</td>
									 
								  </tr> -->
		
							</tbody>
						</table>
	
						</div>
						  </td>
						</tr>
					  </table>
		 
				</div>

				<div class="col-md-12 odtext24">
				  <h3>TERMS & CONDITIONS</h3>
				</div>
				<div class="col-md-12">
				  <div class="odbox1">
					<div class="row" style="font-size: 12px;">
						<div class="col-md-12">

						  <table width="100%">
							<tr> <td style="width: 50%;">
						  <h6> ARE NOT ODBUS RESPONSIBILITIES</h6>
						  <ol>
						   
							<li>	Any incorrect data provided by customer while booking the ticket.</li>
							<li>	Any Bus delays, breakdowns, service cancellations and accidents.</li>
							<li>	Any misbehavior by the bus partner staff or co-passenger.</li>
							<li>	Loss/damage of baggage.</li>
							<li>	Late arrival by customer at the boarding point.</li>
							<li>	Customer phone not reachable, bus Conductor did not call at the boarding point and left without picking the customer.</li>
							<li>	Customer waiting at wrong boarding point.</li>
							<li>	Any change of seat numbers done by the bus Conductor manually.</li>
							<li>	Bus Partner changing the boarding point for any reason.</li>
							<li>	Bus Conductor arranging a different vehicle for pickup at boarding point and boarding the actual vehicle at a different place.</li>
							<li>	Bus Conductor objecting on carrying pets.</li>
							<li>	Improper booking done by agent, please contact the agent directly.</li>
							<li>	Bus owners not providing In-bus amenities/facilities mentioned while booking.</li>
							<li>	Change of bus type by Bus owner for any reason.</li>
							<li>	Bus fares are not controlled by ODBUS, so any change in fares is not the responsibility of ODBUS.</li>
							<li>	The fare might vary based on the seat selected. So the fare shown in the “Search Page” and “Seat Selection Page” might vary</li>
							
						  </ol>
						  </td>
						 
						  <td style="width: 50%;">
						  <h6> CANCELLATION POLICY</h6>
						  <ol>
						   
							<p>The tickets booked through ODBUS Can be cancelled and note that Cancel Can be possible before 12 hours of the departure of the said bus. </p>
							<li>Partial cancellation not allowed in ODBUS.</li>
							<li>	In respect of refunds due to cancellation of service by Operator , passenger is required to send an e-mail to support@odbus.in mentioning PNR of the ticket. We will verify and refund the amount to the concerned Credit card / Internet banking / UPI.</li>
							<li>	Refunds for Ticket cancellations / Failed Transactions to passengers will be given normally in 10 - 12 Bank working days by ODBUS, after the cancellation of ticket or receipt of e-mail. If refunds are delayed, passengers may contact ODBUS Executive at 9583918888 ( 09:00 AM to 07:00 PM )</li>
							<li>	Customer can't claim any cancellation refund on rescheduled tickets.</li>
							<li>	The cancellation terms are different for each Operator which is set by Bus Owners itself. These terms are shown while booking as well as on the ticket printout/Email confirmation.</li>
							<li>	Tickets booked through online should be cancelled only through online.</li>
							<li>	Transaction & convenience charges are non-refundable for Ticket Cancellation / Service Cancellation.</li>
							<li>	Cancellation charges are applicable on Base fare not on the discounted .</li>
							
						  </ol>
						  </td>
						  </tr>
						  </table>
						</div>
					   
					  </div>
				  </div>
				</div>

				<div class="col-md-12 mt30">
				  <div class="odbox2">
					<div class="row">
					  <div class="col-md-12">
						<p>Contact Information</p>
						<p>
						  ODBUS Helpline (07:00 AM To 11:00
						  PM):9583-918-888 (For Online Booking issue or
						  Online Cancellation issue.)
						</p>
						<p>
						  ODBUS Customer Support Email (Response time 3
						  working days): support@odbus.in
						</p>
					  </div>
					</div>
				  </div>
				</div>

				<div class="col-md-12 mt30">
				  <div class="odbox3">
					<div class="row">
					  <div class="col-md-12">
						<p>Thankyou</p>
						<p>Team ODBUS</p>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		</div>	
	</ng-wizard-step>

	
   </ng-wizard>
  </div>
  </div>
  </div>
  </section>

</ng-template>






<ng-container
        
*ngIf="isMobile; then Mobile; else Desktop">
</ng-container>
