
.passenger{
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    opacity: 1;   
    margin-top: 20px; 
}

.pt-40{
    padding-top:40px;
}

.pt-60{
    padding-top: 60px;
}
.pb-60{
    padding-bottom: 60px;
}

.passenger-detail{
    font-size: 16px;
    font-weight: bold;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border: 1px solid #00000026;
    border-radius: 3px;
    opacity: 1; 
    padding: 20px 25px;
}

.padding{
    padding-top: 10px;
    padding-bottom: 10px;

}

.box-padding{
    margin-top: 30px;

}




 label ,p{
    padding-top: 10px;
    color: #072C6B;
    font-size: 14px;
}

h5{
    padding-top: 10px;
    color: #072C6B;
    font-weight:700;
    font-size:17px;
}

.grey{
    color:#B2ADAD;
    font-size: 14px;
}
.terms{
    color:#B2ADAD;
    font-size: 12px;
}

h6{
    color: #545454;
    font-size: 14.5px;
    line-height: 22px;
    font-weight: 600;
}

label{
    text-transform: capitalize;
}

hr{
    border: 1px solid #efc003;
}

span{
    color:#efc003;
}

.font{
    color:#efc003;
    font-size: 15px;
}
.padding-left{
    left: 15px;
    padding-left: 20px;
}



.fare-detail{
    color: #072C6B;
    font-size: 13px;
}
.proceed{
    width: 100%;
    font-weight: 600;
    color: #072c6b;
}
.img1{
    margin-top:34px;
    margin-left: 9px;
}

.img2{
    margin-left: 13px;
    height: 74px;
}

.img3{
    margin-left: 9px;
}


.tableclass{
    width:100%;
}


.tableclass2{
    width:100%;
    margin-top: 20px;
}



thead{
    color: #B2ADAD;
}

tbody{
    color: #072C6B;
    font-size: 14px;
    /* text-transform: uppercase; */
    
}
.roboto{
    font-size: 14px;
    font-weight: 400;
}

.make-payment{
    
    width: 300px;
    height: 75px;
    background: var(--unnamed-color-efc003) 0% 0% no-repeat padding-box;
    background: #EFC003 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    padding-top: 20px;
    margin-bottom: 27px;
    margin-bottom: 15px;
    
}

.payment_box{
    top: 15px;
}

h4{
    font-size: 20px;
    font-weight: bold;
    color: #072C6B;
    text-align: left;
   
}

.payment-btn{
    padding-left:45px;
}
.small_tag {
    font-size: 11px;
    margin-left: 6px;
    font-weight: 600;
    line-height: 0;
}

.option > img{

    width: 24px;
    margin: 1px 10px 5px 10px;

}

.option > span{

   color: #072C6B;
   font-size: 12px;

}

input[type="radio"]:checked {

    background: transparent url('../../assets/img/Group631.svg') 0% 0% no-repeat padding-box;

    
  }

  .option > label{
      margin: 0px 34px;
  }

  .input-group-append {
    margin-left: -20px !important;
  }
  .continue{
    margin: 0px 12px;
    font-size: 10px;
    padding: 0px 28px;
    border-radius: 0px;
    color: #072c6b;
  }

  .text-field{
    width: 85px;
    padding: 3px 14px;
    color: #072c6b;
}

::placeholder{
    font-size: 12px;
    color:#072C6B
  }

  .grey_tag{

    margin: 0px 20px;
    font-size: 11px;
    line-height: 0px;

  }

  .print-ticket{
    margin: 10px 40px;
  }

  .smile{
      width: 25px;
      margin: 4px 7px 8px;
  }

  .print{
      font-weight: bold;
  }

  .paragraph{
      color:#B2ADAD;
      font-size: 13px;
  }

  .ng-select .ng-has-value .ng-placeholder {
    font-size: 15px !important;
    font-weight: lighter !important;
}
.ng-select, .ng-select div, .ng-select input, .ng-select span {
    font-size: 15px !important;
    font-weight: lighter !important;
}

.pt-25{
    margin-top:28px;
}

.form-control {
    border: 1px solid #072c6b;
    border-radius:3px;
    font-size: 15px;
    height: 40px;
    /* font-weight: 400; */
    line-height: 20px;
    /* text-transform: uppercase; */
}

.ng-select.ng-select-single .ng-select-container {
    height: 40px;
}

.pd2{
    text-align: center !important;
}

.payable{
    padding-top: 15px;
}
.payable h5{
    font-size: 24px !important;
    padding-top: 2px;
}

.payment_box{
    margin-top: 25px;
}
.padding20{
    padding-top: 20px;
}
.cl-blue{
    color:#072C6B;
    font-size: 17px;
}

.icon-color{
    color: #efc003;
    font-size: 18px;
    margin-right: 4px;
}

.ng-select span {
    /* text-transform: uppercase !important; */
}


.container {
    max-width:1320px !important;
    margin:0 auto ;
}

.od-body{
    border:3px solid #323232;
    padding: 25px;
    margin-top: 20px;
    background-color: #ffffff;
}

.row {
 display: flex;
 flex-wrap: wrap;
 margin-right: -15px;
 margin-left: -15px;
}

.od-logo{
   height: 80px;
}

.odtext24 h3{
   font-size:20px;
   text-align: left;
   line-height:26px;
   font-weight:600;
   color: #323232;
}

.odtext32{
   font-size:28px;
   text-align: center;
   line-height:34px;
   font-weight:600;
   padding-top: 8px;
   color: #043c5d;
}

.odtext32 span{
   font-weight: 800;
}

.od-bktext{
   font-size:18px;
   text-align: center;
   line-height: 22px;
   color: #000000;
   border:1px solid #c4c4c4 ;
   padding:8px ;
   font-weight: 600;
}
.od-banner{
   width: 100%;
}
.od-qrcode{
   background:#c4c4c4;
   padding: 15px;
   width: 100%;
   margin-top: 34px;
}
.mt30{
 margin-top: 35px;
}
.mb25{
   
   margin-bottom: 35px;
}

.mb40{
   margin-bottom: 40px;
}

.odbox1{
 border: 1px solid #c4c4c4;
 padding:25px 15px;
}

.odbox1 ol{
 margin-left: -20px;
}

.odbox2{
 border: 1px solid #000000;
 padding:25px 15px;
}

.odbox2 p{
 font-size:18px;
 color: #000000;
 font-weight: 600;
 margin-bottom: 8px;
}

.odbox3 p{
 font-size:18px;
 color: #000000;
 font-weight: 600;
 margin-bottom: 8px;
 text-align: right;
}

.mobile-booking-top{
    background-color: #efc003;
    padding:12px 18px 15px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 10px #0003;
  }
  
  
  
  .mobile-booking-top .mob-arrow-left i{
    font-size:30px;
    color: #072c6b;
    margin-top:10px;
  }

  .mobile-booking-top .mob-arrow-right i{
    font-size:30px;
    color: #072c6b;
    margin-top:10px;
  }
  
  .mobile-booking-top .btn-show-modify{
    background-color: #072c6b;
    border-radius: 4px;
    color: #ffffff !important;
    height:35px !important;
    line-height:24px;
    padding:4px 4px !important;
    width: 80px !important;
    float: right;
    margin-top: 10px;
  }
  
  .mobile-booking-top .mob-list-center h5{
    color: #072c6b;
    font-size:18px;
    font-weight:800;
    text-align: center;
    margin-bottom: 4px;
    padding-top: 0px;
  }

  .mob-bk2 label{
   padding-top:2px !important;
  }
  
  .mobile-booking-top .mob-list-center{
    color: #072c6b;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }
  
  .mobile-booking-top .mob-list-center i{
    padding-left:15px;
    padding-right:15px;
  }
  
  .mobile-booking-top .mob-list-center .wh10{
   color: #323232 !important;
   font-size: 15px;
  }
  
  .mobile-booking-middle{
     margin:130px 20px 40px
  }
  
  .mobile-booking-middle h3{
    font-size: 18px;
    color: #002F80;
    font-weight:700;
    margin-bottom:10px;
  }
  
  .mobile-contact-infbox{
    background-color: #ffffff;
    border-radius: 4px;
    padding:12px 15px;
    margin-bottom:24px;
  }
  .mobile-contact-infbox input{
  color: #072c6b;
  width: 100%;
  background-color: #f5f1f1;
  padding:8px 12px;
  border: none;
  border-bottom: 2px solid #979494;
  }
  
  .mobile-contact-infbox .form-group input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }
  
  .mobile-contact-infbox h5{
    font-size: 15px;
    text-align: left;
    color: #002F80;
    margin-top: -10px;
    font-weight: 600;
  }
  
  .mobile-contact-infbox h6{
    font-size: 13px;
    text-align: right;
    color: #002F80;
    margin-top: 0px;
    font-weight: 600;
  }

  .mob-total{
    font-size:18px !important;
  }
  
  
  .mobile-jou-details{
    color: #002F80;
    font-size:16px;
    text-align: left;
    line-height:16px;
    font-weight: 600;
  }
  
  .mobile-jou-details span{
    color:#787878;
    font-size:14px;
    text-align: left;
    line-height: 28px;
  
  }
  
  .mobile-jou-details .fsm15{
    font-size:16px;
    font-weight: 600;
  
  }

  .mobile-contact-infbox .table th{
    padding:5px 8px;
    vertical-align: top;
    font-size: 14px;
    color: #615e5e;
  }
  
  .mobile-contact-infbox .table td{
    padding:5px 8px;
    vertical-align: top;
    font-size: 14px;
    color: #002F80;
  }
  
  
  .mobile-booking-bottom{
    background-color: #efc003;
    box-shadow: 0px -2px 6px 0px rgb(0 0 0 / 60%);
    text-align: center;
    padding:12px 15px;
    width: 100%;
  }
  
  .mobile-booking-bottom{
    font-size: 20px;
    text-transform: uppercase;
    color: #002F80;
    line-height: 28px;
    font-weight: 600;
    border-radius: 0;
  }
 

  .mobile-contact-ad  h6{
    font-size: 15px;
    text-align: left;
    color:#615e5e;
    padding-bottom:9px ;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 22px !important;
  }
  
  .mobile-contact-ad  h5{
    font-size: 18px;
    text-align: left;
    color: #002F80;
    padding-bottom:10px ;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 25px !important;
  }
  
  
  
  .mobile-fair-det{
    color: #002F80;
    font-size: 15px;
    text-align: left;
    line-height: 28px;
  }
  
  .mobile-fair-det span{
    color: #d69a0d;
    font-size: 15px;
    text-align:right;
    line-height: 28px;
    float: right;
    margin-right:5px;
  }
  
  .mobile-fair-det strong{
    font-size: 18px;
    
  }
  

  
  .mob-term-priv p a{
    font-size: 14px;
    color: #002F80;
    font-weight: 600;
    line-height: 20px;
  }
  
  /* .mob-term-priv p a{
    font-size: 14px;
    color:#d69a0d;
    font-weight: 600;
  } */
   
  .mobile-booking-middle input::placeholder{
    font-size:15px;
    color:#323232
  }





  .mobile-booking-middle .od-body{
    border:unset !important;
    padding:unset !important;
    margin-top:unset !important;
}


.mobile-booking-middle .od-logo{
   height:auto !important;
   width: 100%;
}

.mobile-booking-middle .odtext24 h3{
   font-size:20px;
   text-align: left;
   line-height:26px;
   font-weight:600;
   color: #323232;
}

.mobile-booking-middle .odtext32{
   font-size:20px;
   text-align: center;
   line-height:24px;
   font-weight:600;
   padding-top: 8px;
   color: #043c5d;
   margin-bottom: 20px;
}

.pnrr{
  color: #dc3545;
}
.mobile-booking-middle tbody tr td {
  padding:4px 8px !important;
}

.mobile-booking-middle tbody {
  font-size: 12px;
}

.mobile-booking-middle .passenger-detail{
  font-size: 15px;
  font-weight:500;
}

.mobile-booking-middle .odtext32 span{
   font-weight: 800;
}

.mobile-booking-middle .od-bktext{
   font-size:16px;
   text-align: center;
   line-height: 22px;
   color: #000000;
   border:1px solid #c4c4c4 ;
   padding:8px ;
   font-weight: 600;
}
.mobile-booking-middle .od-banner{
   width: 100%;
}
.mobile-booking-middle .od-qrcode{
   background:#c4c4c4;
   padding: 15px;
   width: 100%;
   margin-top: 34px;
}


.mobile-booking-middle .odbox1{
 border: 1px solid #c4c4c4;
 padding:25px 15px;
}

.mobile-booking-middle .odbox1 ol{
 margin-left: -20px;
}

.mobile-booking-middle .odbox2{
 border: 1px solid #c4c4c4;
 padding:25px 15px;
}

.mobile-booking-middle .odbox2 p{
 font-size:15px;
 color: #000000;
 font-weight: 400;
 margin-bottom:4px;
 padding-top: 5px;
}

.mobile-booking-middle .odbox3 p{
 font-size:15px;
 color: #000000;
 font-weight:500;
 margin-bottom:0px;
 text-align: right;
 padding-top: 5px;
}

.mobile-booking-middle .mt30{
  margin-top:18px;
}

.mb60{
  margin-bottom:80px ;
}

.bh80{
  margin-bottom:80px ;
}


.mobile-fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:99999;
}
.mobile-fixed-bottom .home{
  color: #323232;
}

.mobile-fixed-bottom .home i{
  font-size: 24px;
}

.mobile-fixed-bottom .active{
  color: #efc003;
}

.mobile-fixed-bottom .active p{
  color: #efc003 !important;
}

.mobile-fixed-bottom .home p{
  color: #323232;
  font-size:16px;
  font-weight: 600;
}

.mobile-bg-danger {
  background-color: #ffffff!important;
  padding-top:12px;
  padding-bottom: 8px;
  -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
 -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
 box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.6);
}

.mob-mtbh{
  height: 80px;
}

/* Mobile Menu Section */

.mobile-logo img{
  height:42px;
  float:right;
} 

.mobile-myaccount-top .mob-logintx a{
    float:right;
    font-size:17px;
    color: #072c6b;
    font-weight: 600;
    padding-top:8px ;
}

.mobile-myaccount-top{
  background-color: #efc003;
  padding:12px 18px 14px;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 10px #0003;
} 

.mobile-myaccount-middle{
     margin:88px 20px 60px
 }

.mobile-myaccount-middle .mobile-menu {
  width:100%; 
  list-style-type: none;
  padding-left: 0px; 
}

.mobile-myaccount-middle .mobile-menu a {
    background-color: #fff;
    display: block;   
    color: #072c6b;
    padding:8px 18px; 
    text-decoration: none; 
    font-size :17px;
    font-weight: 600;
    margin-bottom:10px;
    border-radius: 4px;
}

.mobile-myaccount-middle .mobile-menu a i{
  color: #efc003;
  margin-right: 8px;
}

.mob-mtbh-8 {
  height: 50px;
}

.mb-font16{
 font-size: 16px !important;
 line-height: 17px !important;
}


.odbus-journey td{
  padding:6px 12px !important;
  color: #323232;
}

.odbus-journey th{
padding:8px 12px !important;

}

.fare-backup table td{
  padding:3px 12px;
  color: #323232;
}

.fare-backup table td strong{
  font-size: 16px;
  color: #c7a003
}

.mobile-booking-top .mob-list-center2 h5 {
  color: #072c6b;
  font-size:22px !important;
  font-weight: 800;
  text-align: left;
  padding-left: 5px;
  margin-bottom: 4px;
  padding-top: 14px !important;
}
.mob-gst{
  font-size:15px;
  color: #dc3545;
}
